openapi: 3.0.3
info:
  title: ITT eSIM API
  version: 1.0.0
  description: eSIM API endpoints converted from Postman collection.
servers:
  - url: https://serviceapi.b2b.innovatedemo.com
tags:
  - name: eSim
    description: eSIM related operations
security:
  - apiKeyAuth: []
    secretCodeAuth: []
paths:
  /esim/search:
    post:
      tags: [eSim]
      summary: Search eSIM plans
      operationId: esimSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  eSim:
                    region_type: local
                    country_code: BD
                    plan_type: data
                    topup_included: yes
                  supplier_uid: all
                  partner_id: "1"
                  short_ref: xxxx111
                  language: en
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                    "status": "success"
                    "reason": "A total of 24 eSIM packages were found for your search."
                    "tracking_id": "117726070533RO1"
                    "search_parameter": {
                        "eSim": {
                            "region_type": "local",
                            "country_code": "BD",
                            "plan_type": "data",
                            "topup_included": "yes"
                        },
                        "supplier_uid": "all",
                        "partner_id": "1",
                        "short_ref": "xxxx111",
                        "language": "en",
                        "tracking_id": "117726070533RO1"
                    }
                    "total_esim_package": 24,
                    "data": 
                        
                            "tracking_id": "117726070533RO1"
                            "package_id": "X1AO00084||bangladesh||1067||fatafati-in-7days-1gb"
                            "supplier": "airalo"
                            "supplier_partner_code": "airalo-1-00084"
                            "supplier_key": "fatafati-in-7days-1gb"
                            "sell_price": 489.41,
                            "sell_currency": "BDT"
                            "package_type": "sim"
                            "title": "1 GB - 7 days"
                            "data": "1 GB"
                            "package_details": 
                                "data_amount": 1024,
                                "voice_amount": null,
                                "text_amount": null,
                                "validity_days": 7,
                                "is_unlimited": false,
                                "has_fair_usage_policy": false
                            "region_details": 
                                "id": "bangladesh"
                                "name": "Bangladesh"
                                "country_code": "BD"
                                "image": {
                                    "width": 132,
                                    "height": 99,
                                    "url": "https://cdn-revamp.airalo.com/images/7633c268-6c9a-47e9-86e0-78ea5f07f1e9.png"
                                }
                            "operator_details": 
                              "image": 
                                  "width": 1035,
                                  "height": 653,
                                  "url": "https://cdn-revamp.airalo.com/images/e10c1246-bafa-4998-bfe9-e9e279aa2eb8.png"
                            "validity": {
                                "activation_days": 365,
                                "topup_days": 180
                            }
                            "coverage_type": "local"
                            "esim_type": "prepaid"
                            "plan_type": "data"
                            "activation_policy": "first-usage"
                            "rechargeable": true,
                            "info": null
                            "coverage_country": 
                              {
                                  "country": "BD",
                                  "networks": [
                                      "GrameenPhone"
                                  ],
                                  "network_types": [
                                      "4G"
                                  ]
                              }
                            price": 
                              "promo_tag": null,
                              "purchase": {
                                  "total": {
                                      "currency": "BDT",
                                      "amount": 489.41,
                                      "before_discount": 489.41,
                                      "discount": 0,
                                      "point": 0
                                  },
                                  "price_breakdown": {
                                      "currency": "BDT",
                                      "total": 489.41,
                                      "base_fare": 489.41,
                                      "tax": 0,
                                      "extra_person_fee": 0,
                                      "supplier_sales_comission": null,
                                      "payable_at_property": []
                                  }
                              }
                            "sell": {
                                "total": {
                                    "currency": "BDT",
                                    "amount": 489.41,
                                    "gross_price": 489.41,
                                    "platform_fees_or_extra_tax": 0,
                                    "point": 0
                                },
                                "price_breakdown": {
                                    "currency": "BDT",
                                    "total": 489.41,
                                    "base_fare": 489.41,
                                    "tax": 0,
                                    "platform_fees_or_extra_tax": 0,
                                    "extra_person_fee": 0,
                                    "supplier_sales_comission": null,
                                    "payable_at_property": []
                                }
                            }
                            "fmg": {
                                "total": {
                                    "currency": "USD",
                                    "amount": 4
                                },
                                "price_breakdown": {
                                    "currency": "USD",
                                    "total": 4,
                                    "base_fare": 4,
                                    "tax": 0,
                                    "extra_person_fee": 0,
                                    "supplier_sales_comission": null,
                                    "base_fare_fmg_charge": 0,
                                    "membership_discount_percentige": 0,
                                    "membership_discount_amount": 0,
                                    "final_base_fare_fmg_charge": 0,
                                    "payable_at_property": []
                                }
                            }
                    "supplier": 
                        "total": 
                            "currency": "USD"
                            "amount": 4
                    
                        "price_breakdown": 
                          "currency": "USD"
                          "total": 4,
                          "base_fare": 4,
                          "tax": 0,
                          "sales_tax": 0,
                          "property_fees": 0,
                          "surcharges": 0,
                          "service_charge": 0,
                          "extra_person_fee": 0,
                          "supplier_sales_comission": null,
                          "payable_at_property": []
                        "fair_usage_policy": null,
                        "qr_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable device you need to print or display this QR code on other device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Scan QR code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                        "manual_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Manually enter the SM-DP+ Address and activation code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                    "filter": 
                      "data_amount": 1024,
                      "voice_amount": 0,
                      "text_amount": 0,
                      "validity_days": 7,
                      "coverage_type": "local"
                      "esim_type": "prepaid"
                      "plan_type": "data"
                      "coverage_country": [
                          "BD"
                      ]
                    -"filter": {
                      "data_amount": [
                            1024,
                            2048,
                            3072,
                            5120,
                            28672,
                            0,
                            10240,
                            43008,
                            53248,
                            20480,
                            66560,
                            93184,
                            173056
                        ],
                  "voice_amount": [
            0
                    ],
                  "text_amount": [
                        0
                    ],
                  "validity_days": [
                        7,
                        15,
                        30,
                        3,
                        5,
                        10
                    ],
                  "esim_type": [
                      "prepaid"
                  ],
                  "coverage_type": [
                      "local"
                  ],
                  "plan_type": [
                      "data"
                  ],
                  "coverage_country": [
                      "BD"
                  ],
                  "min_price": 489,
                  "max_price": 12112
                    }
                "search_result_logs_url": "https://temp-logs.b2b.innovatedemo.com/esim_logs/117726070533RO1/search_result.json"

                              
                        
                                      
                        
                
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/single-esim-package:
    post:
      tags: [eSim]
      summary: Get single eSIM package
      operationId: singleEsimPackage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 11763299361URM1
                  package_id: X1AO00012||bangladesh||1067||fatafati-in-7days-1gb
      responses:
        '200':
          description: Package details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                        "status": "success"
                        "tracking_id": "11177260822126194QDWJV"
                        "search_parameter": {
                          "eSim": {
                            "region_type": "local",
                            "country_code": "BD",
                            "plan_type": "data",
                            "topup_included": "yes"
                        },
                        "supplier_uid": "X1AO00084",
                        "partner_id": "1",
                        "short_ref": "xxxx111",
                        "language": "en",
                        "tracking_id": "117726070533RO1",
                        "supplier_type": "ESIM",
                        "supplier_code": "airalo",
                        "supplier_partner_code": "airalo-1-00084"
                      }
                        "data": 
                            "booking_tracking_id": "11177260822126194QDWJV"
                            "package_tracking_id": "11177260822126194QDWJV||fatafati-in-7days-1gb"
                            "supplier": "airalo"
                            "supplier_partner_code": "airalo-1-00084"
                            "supplier_key": "fatafati-in-7days-1gb"
                            "sell_price": 489.41,
                            "sell_currency": "BDT"
                            "package_type": "sim"
                            "title": "1 GB - 7 days"
                            "data": "1 GB"
                            "package_details": {
                                "data_amount": 1024,
                                "voice_amount": null
                                
                            }
                        "region_details": 
                          "id": "bangladesh"
                          
                            
                                
                        "operator_details": 
                            "image": 
                                "width": 1035,
                                "height": 653,
                                "url": "https://cdn-revamp.airalo.com/images/e10c1246-bafa-4998-bfe9-e9e279aa2eb8.png"
                            
                            "validity": 
                                "activation_days": 365,
                                "topup_days": 180
                            
                            "coverage_type": "local"
                            "esim_type": "prepaid"
                            "plan_type": "data"
                            "activation_policy": "first-usage"
                            "rechargeable": true,
                            "info": null
                        
                        "coverage_country": [
                        {
                            "country": "BD",
                            "networks": [
                                "GrameenPhone"
                            ],
                            "network_types": [
                                "4G"
                            ]
                        }
                    ]
                        "price": 
                            "promo_tag": null,
                            "purchase": {
                                "total": {
                                    "currency": "BDT",
                                    "amount": 489.41,
                                    "before_discount": 489.41,
                                    "discount": 0,
                                    "point": 0
                                },
                          "price_breakdown": {
                              "currency": "BDT",
                              "total": 489.41,
                              "base_fare": 489.41,
                              "tax": 0,
                              "extra_person_fee": 0,
                              "supplier_sales_comission": null,
                              "payable_at_property": []
                          }
                               }
                            "sell": {
                            "total": {
                            "currency": "BDT",
                            "amount": 489.41,
                            "gross_price": 489.41,
                            "platform_fees_or_extra_tax": 0,
                            "point": 0
                        },
                        "price_breakdown": {
                            "currency": "BDT",
                            "total": 489.41,
                            "base_fare": 489.41,
                            "tax": 0,
                            "platform_fees_or_extra_tax": 0,
                            "extra_person_fee": 0,
                            "supplier_sales_comission": null,
                            "payable_at_property": []
                        }
                    }

                        "fmg": {
                        "total": {
                            "currency": "USD",
                            "amount": 4
                        },
                        "price_breakdown": {
                            "currency": "USD",
                            "total": 4,
                            "base_fare": 4,
                            "tax": 0,
                            "extra_person_fee": 0,
                            "supplier_sales_comission": null,
                            "base_fare_fmg_charge": 0,
                            "membership_discount_percentige": 0,
                            "membership_discount_amount": 0,
                            "final_base_fare_fmg_charge": 0,
                            "payable_at_property": []
                        }
                    }

                        "supplier": {
                        "total": {
                            "currency": "USD",
                            "amount": 4
                        },
                        "price_breakdown": {
                            "currency": "USD",
                            "total": 4,
                            "base_fare": 4,
                            "tax": 0,
                            "sales_tax": 0,
                            "property_fees": 0,
                            "surcharges": 0,
                            "service_charge": 0,
                            "extra_person_fee": 0,
                            "supplier_sales_comission": null,
                            "payable_at_property": []
                        }
                    }

                        "fair_usage_policy": null,
                        "qr_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage:</b>Bangladesh</p><p><br></p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable device you need to print or display this QR code on other device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Scan QR code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                        "manual_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Manually enter the SM-DP+ Address and activation code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                
                
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/update-customer:
    post:
      tags: [eSim]
      summary: Update customer information
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  booking_tracking_id: 11176335754526194RQYGH
                  member_id: "2"
                  save_pax: yes
                  passenger:
                    - pax_id: "1"
                      pax_type: ADT
                      title: MR
                      first_name: Jasim
                      last_name: Karimm
                      age: "30"
                      isd_code: "880"
                      contact_no: 1966330000
                      email_address: test@mail.com
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                        "status": "success"
                        "reason": "Customer data has been successfully updated."
                        "tracking_id": "11177260822126194QDWJV"
                        "total_guest": 1,
                        "data":
                             "tracking_id": "11177260822126194QDWJV"
                             "pax_id": "1"
                             "pax_type": "ADT"
                             "gender": null,
                             "title": "MR"
                             "first_name": "JASIM"
                             "last_name": "KARIMM"
                             "pax_age": "30"
                             "isd_code": "880"
                             "contact_no": "1966330000"
                             "email_address": "test@mail.com"
                        
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/create-booking:
    post:
      tags: [eSim]
      summary: Create eSIM booking
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  booking_tracking_id: 11176335754526194RQYGH
                  package_tracking_id: 11176335754526194RQYGH||fatafati-in-7days-1gb
                  eSim_quantity: "1"
                  member_id: "2"
                  isPartialPay: no
                  redirect_url: https://showkat.innovatedemo.com/inno-travel-tech/custom_modal.html
                  payment_type: account_balance
                  isd_code: "880"
                  contact_no: 1966330000
                  email_address: iam@mail.com
                  agency_email: iam@mail.com
      responses:
        '200':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                        "status": "success"
                        "reason": "The booking has been successfully created, and it is associated with the Booking Id ES2604MAYVA3A8."
                        "tracking_id": "11177260822126194QDWJV"
                        "booking_id": "ES2604MAYVA3A8"
                        "general": 
                            "service_type": "ESIM"
                            "service_details": "eSIM booked with 1024 MB with 7 days validity"
                            "booking_remarks": null,
                            "generated_date": "2026-03-04"
                            "partner_id": "1"
                            "master_partner_id": "1"
                            "branch_id": "BDHE001"
                            "tracking_id": "11177260822126194QDWJV"
                            "booking_id": "ES2604MAYVA3A8"
                            "supplier_confirmation_id": "20260304-050606"
                            "supplier_others_id_a": "50606"
                            "supplier_others_id_b": null,
                            "member_id": "2"
                            "book_by": "Nasif Kabir"
                            "ip_address": "203.76.126.194"
                            "timestamp": "1772615659"
                            "last_update": "1772615659"
                            "supplier_invoice_company": null,
                            "supplier_invoice_number": null
                        "eSim": 
                            
                                "iccid": "8900000281278633887"
                                "lpa": "lpa.airalo.com"
                                "qr_code": "LPA:1$lpa.airalo.com$12345"
                                "qr_code_url": "https://sandbox.airalo.com/qr?expires=1858929260&id=391631&signature=a2b9c0d0e11bca365f68f1e5b9a56fe26c6454d00f9e85c30c31836b0e4ce972"
                                "apple_activation_url": "https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$lpa.airalo.com$12345"
                                "apn_type": "automatic"
                                "apn_value": null
                                "is_roaming": true
                        "voucher": 
                                "link": "https://manage.b2b.innovatedemo.com/voucher/hotel-voucher?uid=eyJ0cmFja2luZ19pZCI6IjExMTc3MjYwODIyMTI2MTk0UURXSlYiLCJmdG1fcGFydG5lcl9pZCI6IjEiLCJtYXN0ZXJfcGFydG5lcl9pZCI6IjEiLCJtZW1iZXJfaWQiOiIyIiwibGlua19leHBpcmUiOiIyMDI2LTA2LTAyIn0="
                                "pdf": "https://manage.b2b.innovatedemo.com/voucher/hotel-booking-pdf?uid=eyJ0cmFja2luZ19pZCI6IjExMTc3MjYwODIyMTI2MTk0UURXSlYiLCJmdG1fcGFydG5lcl9pZCI6IjEiLCJtYXN0ZXJfcGFydG5lcl9pZCI6IjEiLCJtZW1iZXJfaWQiOiIyIiwibGlua19leHBpcmUiOiIyMDI2LTA2LTAyIn0="
                        "booking": 
                               "status": "success"
                               "booking_status": "confirm"
                               "booking_supplier_status": "confirm"
                               "voucher_status": "issued"
                               "payment_status": "pending"
                               "auto_cancel_status": "pending"
                               "auto_cancel": "2026-03-04 23:59:59"
                               "auto_cancel_timestamp": "1772647199"
                        "price": 
                              "currency": "BDT"
                              "total_amount": "489.41"
                              "sell_total_price": "489.41"
                              "sales_comission": "0"
                        "eSim_package": 
                            "search_parameter": 
                                "eSim": 
                                    "region_type": "local"
                                    "country_code": "BD"
                                    "plan_type": "data"
                                    "topup_included": "yes"
                        "supplier_uid": "X1AO00084"
                        "partner_id": "1"
                        "short_ref": "xxxx111"
                        "language": "en"
                        -"tracking_id": "117726070533RO1"
                        "supplier_type": "ESIM"
                        "supplier_code": "airalo"
                        "supplier_partner_code": "airalo-1-00084"
                        "data": 
                              "booking_tracking_id": "11177260822126194QDWJV"
                              "package_tracking_id": "11177260822126194QDWJV||fatafati-in-7days-1gb"
                              "supplier": "airalo"
                              "supplier_partner_code": "airalo-1-00084"
                              "supplier_key": "fatafati-in-7days-1gb"
                              "sell_price": 489.41,
                              "sell_currency": "BDT"
                              "package_type": "sim"
                              "title": "1 GB - 7 days"
                              "data": "1 GB"
                              "package_details": 
                                  "data_amount": 1024
                                  "voice_amount": null
                                  "text_amount": null
                                  "validity_days": 7
                                  "is_unlimited": false
                                  "has_fair_usage_policy": false
                              
                              "region_details": 
                                  "id": "bangladesh"
                                  "name": "Bangladesh"
                                  "country_code": "BD"
                                  "image": 
                                      "width": 132
                                      "height": 99
                                      "url": "https://cdn-revamp.airalo.com/images/7633c268-6c9a-47e9-86e0-78ea5f07f1e9.png"
                              "operator_details": 
                                  "image": 
                                      "width": 1035
                                      "height": 653,
                                      "url": "https://cdn-revamp.airalo.com/images/e10c1246-bafa-4998-bfe9-e9e279aa2eb8.png"
                                  
                                  "validity": 
                                      "activation_days": 365,
                                      "topup_days": 180
                                  
                                  "coverage_type": "local"
                                  "esim_type": "prepaid"
                                  "plan_type": "data"
                                  "activation_policy": "first-usage"
                                  "rechargeable": true,
                                  "info": null
                                  "coverage_country": 
                                      
                                          "country": "BD"
                                          "networks": [
                                              "GrameenPhone"
                                          ]
                                          "network_types": [
                                              "4G"
                                          ]
                                  "price": 
                                      "promo_tag": null,
                                      "purchase": 
                                          "total": 
                                              "currency": "BDT"
                                              "amount": 489.41
                                              "before_discount": 489.41
                                              "discount": 0
                                              "point": 0
                                          
                                          "price_breakdown": 
                                              "currency": "BDT"
                                              "total": 489.41
                                              "base_fare": 489.41
                                              "tax": 0
                                              "extra_person_fee": 0
                                              "supplier_sales_comission": null
                                              "payable_at_property": []
                                          "sell": 
                                            "total": 
                                                "currency": "BDT"
                                                "amount": 489.41
                                                "gross_price": 489.41
                                                "platform_fees_or_extra_tax": 0
                                                "point": 0
                                            
                                            "price_breakdown": 
                                                "currency": "BDT"
                                                "total": 489.41
                                                "base_fare": 489.41
                                                "tax": 0
                                                "platform_fees_or_extra_tax": 0
                                                "extra_person_fee": 0
                                                "supplier_sales_comission": null
                                                "payable_at_property": []
                                            "fmg": 
                                                "total": 
                                                    "currency": "USD"
                                                    "amount": 4
                                                
                                                "price_breakdown": 
                                                    "currency": "USD"
                                                    "total": 4,
                                                    "base_fare": 4,
                                                    "tax": 0,
                                                    "extra_person_fee": 0,
                                                    "supplier_sales_comission": null,
                                                    "base_fare_fmg_charge": 0,
                                                    "membership_discount_percentige": 0,
                                                    "membership_discount_amount": 0,
                                                    "final_base_fare_fmg_charge": 0,
                                                    "payable_at_property": []
                                                "supplier": 
                                                    "total": 
                                                        "currency": "USD"
                                                        "amount": 4
                                                    
                                                    "price_breakdown": 
                                                        "currency": "USD"
                                                        "total": 4,
                                                        "base_fare": 4,
                                                        "tax": 0,
                                                        "sales_tax": 0,
                                                        "property_fees": 0,
                                                        "surcharges": 0,
                                                        "service_charge": 0,
                                                        "extra_person_fee": 0,
                                                        "supplier_sales_comission": null,
                                                        "payable_at_property": []
                                                "fair_usage_policy": null,
                                                "qr_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable device you need to print or display this QR code on other device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Scan QR code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                                                "manual_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Manually enter the SM-DP+ Address and activation code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p><p><b>To top up:</b></p><p><br></p><p>Visit airalo.com/my-esims or if purchased through the Airalo website/app visit “My eSIMs” tab.</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>"
                                                "pax": 
                                                "primary": 
                                                    "guest_name": "MR JASIM KARIMM"
                                                    "guest_email": "test@mail.com"
                                                    "guest_isd_code": null,
                                                    "guest_contact_no": "8801966330000"
                                                    "guest_nationality": ""
                                                "data": 
                                                
                                                    "Id": "7670"
                                                    "timestamp": "1772615491"
                                                    "last_update": "1772615659"
                                                    "entry": "2"
                                                    "entry_n": "Nasif Kabir"
                                                    "ftm_partner_id": "1"
                                                    "master_partner_id": null
                                                    "tracking_id": "11177260822126194QDWJV"
                                                    "service_type": "ESIM"
                                                    "room_number": "1"
                                                    "pax_id": "1"
                                                    "passenger_id": null
                                                    "supplier_pax_id": null
                                                    "pax_type": "ADT"
                                                    "paxType_Identity": null
                                                    "primary_ptc": null
                                                    "ptc_title": null
                                                    "gender": null
                                                    "title": "MR"
                                                    "first_name": "JASIM"
                                                    "last_name": "KARIMM"
                                                    "dob": null
                                                    "pax_age": "30"
                                                    "nationality": null
                                                    "doc_type": null
                                                    "doc_country": null
                                                    "doc_no": null
                                                    "cnic": null
                                                    "doc_dateofexpiry": "2033-12-31"
                                                    "doc_dateofissue": "2022-12-31"
                                                    "frequent_flyer_airlines": null
                                                    "frequent_flyer": null
                                                    "purpose_of_visit": null
                                                    "special_request": null
                                                    "residential_address": null
                                                    "wheelchair_required": null
                                                    "isd_code": "880"
                                                    "contact_no": "1966330000"
                                                    "email_address": "test@mail.com"
                                                    "doc_pics": null
                                                    "seat_number": null
                                                    "baggage_option": null
                                                    "meal_option": null
                                                    "booking_id": null
                                                    "ticket_number": null
                                                    "ticket_status": null
                                                    "ticket_issueTimeStamp": null
                                                    "ticket_supplier_status": null
                                                    "ticket_status_title": null
                                                    "tktNumberValidation": "0"
                                                    "comission_type": null
                                                    "comission_value": "0.00"
                                                    "currency": "BDT"
                                                    "sell_total": "0.00"
                                                    "sell_base_fare": "0.00"
                                                    "sell_tax": "0.00"
                                                    "sell_discount": "0.00"
                                                    "sell_ait": "0"
                                                    "sell_service_charge": "0.00"
                                                    "sell_gross_base_fare": "0.00"
                                                    "sell_gross_tax": "0.00"
                                                    "cus_ticket_issue_charge": "0"
                                                    "price_total": "489.41"
                                                    "price_base_fare": "0.00"
                                                    "price_tax": "0.00"
                                                    "price_taxBreakdown_BD": "0.00"
                                                    "price_taxBreakdown_UT": "0.00"
                                                    "price_taxBreakdown_E5": "0.00"
                                                    "price_taxBreakdown_YQ": "0.00"
                                                    "price_taxBreakdown_YR": "0.00"
                                                    "price_taxBreakdown_Other": "0.00"
                                                    "price_discount": "0"
                                                    "price_ait": "0"
                                                    "price_service_charge": "0.00"
                                                    "price_gross_base_fare": "0.00"
                                                    "price_gross_tax": "0.00"
                                                    "ticket_issue_charge": "0"
                                                    "total_ticket_issue_charge": "0.00"
                                                    "supplier_currency": null
                                                    "currencyExchangeRate": null
                                                    "fmg_total": "489.41"
                                                    "fmg_base_fare": "0.00"
                                                    "fmg_tax": "0.00"
                                                    "fmg_discount": "0"
                                                    "fmg_ait": "0"
                                                    "fmg_service_charge": "0.00"
                                                    "fmg_gross_base_fare": "0.00"
                                                    "fmg_gross_tax": "0.00"
                                                    "fmg_markup_type": null
                                                    "fmg_charge": "0"
                                                    "fmg_revenue": "0.00"
                                                    "supplier_total": "489.41"
                                                    "supplier_base_fare": "489.41"
                                                    "supplier_tax": "0.00"
                                                    "supplier_discount": "0"
                                                    "supplier_ait": "0"
                                                    "supplier_service_charge": "0.00"
                                                    "supplier_gross_base_fare": "0.00"
                                                    "supplier_gross_tax": "0.00"
                                                    "supplier_primary_commission": "0"
                                                    "supplier_segment_feesCalculate": "0"
                                                    "segment_discount_accountPurpose": null
                                                    "supplier_per_segment_discount": "0"
                                                    "supplier_total_segment": "0"
                                                    "supplier_total_segment_discount": "0"
                                                    "gross_fare_total": "489.41"
                                                    "gross_fare_base_fare": "0.00"
                                                    "gross_fare_tax": "0.00"
                                                    "gross_fare_tax_BD": "0.00"
                                                    "gross_fare_tax_UT": "0.00"
                                                    "gross_fare_tax_E5": "0.00"
                                                    "gross_fare_tax_YQ": "0.00"
                                                    "gross_fare_tax_YR": "0.00"
                                                    "gross_fare_tax_Other": "0.00"
                                                    "gross_fare_tax_breakDownJSON": null
                                                    "gross_fare_discount_amount": "0.00"
                                                    "gross_fare_ait_amount": "0.00"
                                                    "gross_fare_service_charge": "0.00"
                                                    "custom_gross_discount": "0.00"
                                                    "custom_gross_charges": "0"
                                                    "custom_gross_service_fee": "0"
                                                    "custom_gross_markup": "0"
                                                    "applicable_comission_title": null
                                                    "discount_comission_ratio": null
                                                    "discount_comission_type": null
                                                    "dynamic_markup_type": null
                                                    "dynamic_markup_title": null
                                                    "dynamic_markup_ratio": null
                                                    "passport_copy": null
                                                    "beneficiary_name": null
                                                    "beneficiary_relation": null
                                                    "beneficiary_cnic": null
                                                    "beneficiary_contact": null
                                                    "beneficiary_address": null
                                                    "spouse_adult_name": null
                                                    "spouse_adult_dob": null
                                                    "spouse_adult_passportno": null
                                                    "child1_name": null
                                                    "child1_dob": null
                                                    "child1_passportno": null
                                                    "child2_name": null
                                                    "child2_dob": null
                                                    "child2_passportno": null
                                                    "child3_name": null
                                                    "child3_dob": null
                                                    "child3_passportno": null
                                                    "child4_name": null
                                                    "child4_dob": null
                                                    "child4_passportno": null
                                                    "policyNumber": null
                                                    "policyVoucher": null
                                                    "isVoid": "0"
                                                    "voidDate": null
                                                    "voidTimestamp": null
                                                    "isRefund": "0"
                                                    "refundDate": null
                                                    "refundTimestamp": null
                                                    "refundSupplerAmount": null
                                                    "refundSupplerPenalty": null
                                                    "refundCharge": null
                                                    "refundAmount": null
                                                    "refundPenalty": null
                                                    "supplement_data": null
                                                "partner": 
                                                    "agency_isd_code": "880"
                                                    "agency_contact_no": "1966330000"
                                                    "agency_email": "iam@mail.com"
                                                    "contact": 
                                                        "person_name": "Nazmus"
                                                        "isd_code": "880"
                                                        "number": "1546776554"
                                                        "email": "cto@innovatesolution.co"
                                                "partner_id": "1"
                                                "master_partner_id": "1"
                                                "partner_type": "MASTER"
                                                "partner_profile_code": "ITT"
                                                "branch_id": "BDHE001"
                                                "brand_name": "Inno Travel Tech"
                                                "tag_line": "Next generation B2B travel reservation portal specially designed only for travel professionals"
                                                "legal_name": "Innovate Solution"
                                                "city": "Singapore"
                                                "state": "Singapore"
                                                "postal_code": "049712"
                                                "address": "30 Cecil Street # 19-08 Prudential Tower."
                                                "country": "SA"
                                                "website": "https://innovatedemo.com/"
                                                "customer_hotline": "2345678"
                                                "support_email": "cto@innovatesolution.com"
                                                "customer_support_email": "no-reply@innovatesolution.com"
                                                "priavcy_link": "https://innovatedemo.com/contact.php"
                                                "terms_link": "https://innovatedemo.com/contact.php"
                                                "logo_1440_448": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "logo_224_224": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "logo_1024_1024": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "logo_400_400": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "logo_512_512": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "logo_1706_256": "https://cdn.innovategrid.com/innotraveltech/partner-brand-logo/1101760003818989887.png"
                                                "partner_from_email_address": "no-reply@reservationmastermind.com"
                                                "partner_from_email_full_name": "Inno Travel Tech"
                                          "supplier": 
                                              "info": 
                                                  "supplier_type": null
                                                  "supplier_title": null
                                                  "supplier_code": null
                                                  "supplier_uid": null
                                                  "supplier_partner_code": null
                                                  "supplier_timezone": null
                                                  "currency": null
                                                  "notification_email": null
                                                  "supplier_fare_rules": null
                                                  "airlines_comission": null
                                          "price": 
                                          "supplier_currency": "a"
                                          "purchase": "a"
                                          "fmg_price": "a"
                                          "revenue": 0,
                                          "currency_exchange_data": 
                                              "agent_currency": "BDT"
                                              "partner_currency_data": 
                                                  "from_currency_list": [
                                                      "BDT",
                                                      "GBP",
                                                      "USD",
                                                      "AED",
                                                      "PKR",
                                                      "SGD",
                                                      "EUR",
                                                      "AFN",
                                                      "IRR",
                                                      "SAR",
                                                      "OMR",
                                                      "EGP",
                                                      "IQD"
                                                  ]
                                              "to_currency_list": [
                                                      "BDT",
                                                      "GBP",
                                                      "USD",
                                                      "AED",
                                                      "PKR",
                                                      "SGD",
                                                      "EUR",
                                                      "SAR",
                                                      "IRR",
                                                      "OMR",
                                                      "EGP",
                                                      "IQD"
                                                  ]
                                              "filter_data": 
                                                  "BDT": 
                                                      
                                                          "from_currency": "BDT"
                                                          "to_currency": "BDT"
                                                          "exchange_rate": "1"
                                                          "markup_percentage": "0"
                                                          "markup_fixed": "00"
                                                          "status": "active"
                                                      
                                                          -"from_currency": "BDT"
                                                          -"to_currency": "GBP"
                                                          -"exchange_rate": "0.0061190000"
                                                          -"markup_percentage": "0.00"
                                                          -"markup_fixed": "0.00"
                                                          -"status": "active"
                                              "all_currency": 
                        
                                                      "Id": "1"
                                                      "timestamp": "1752290786"
                                                      "last_update": "1767071574"
                                                      "entry": "1"
                                                      "entry_n": "System"
                                                      "ip": null
                                                      "ftm_partner_id": "1"
                                                      "currency_auto_update": "no"
                                                      "from_currency": "BDT"
                                                      "to_currency": "BDT"
                                                      "exchange_rate": "1"
                                                      "last_day_exchange_rate": "1"
                                                      "markup_percentage": "0"
                                                      "markup_fixed": "00"
                                                      "status": "active"
                                                      "expire_timestamp": null
                                                      "api_last_update": "2025-12-30T04:00:04Z"
                                                      "xe_data_json": null
                                                      "xe_rate_datetime": null
                                              "terms": 
                                                      "status": null
                                                      "text": null
                                                  
                                              
                                              -"terms": 
                                                  "status": null,
                                                  "text": null
                                              
                                              "cancellation_terms": 
                                                  "status": null,
                                                  "text": null
                                              "response_data": 
                                                  "id": 50606
                                                  "code": "20260304-050606"
                                                  "currency": "USD"
                                                  "package_id": "fatafati-in-7days-1gb"
                                                  "quantity": 1,
                                                  "type": "sim"
                                                  "description": "eSIM booked with 1024 MB with 7 days validity"
                                                  "esim_type": "local"
                                                  "validity": 7,
                                                  "package": "Fatafati-1 GB - 7 days"
                                                  "data": "1 GB"
                                                  "price": 4,
                                                  "pricing_model": "net_pricing"
                                                  "created_at": "2026-03-04 09:14:20"
                                              "manual_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Manually enter the SM-DP+ Address and activation code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p>"
                                              "qrcode_installation": "<p><br></p><p><b>eSIM name:</b> Fatafati</p><p><br></p><p><b>Coverage: </b>Bangladesh</p><p><br></p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable device you need to print or display this QR code on other device:</b></p><p><br></p><ol><li>Settings > Cellular/Mobile > Add Cellular/Mobile Plan.</li><li>Scan QR code.</li><li>Confirm eSIM plan details.</li><li>Label the eSIM.</li></ol><p><br></p><p><b>To access Data:</b></p><p><br></p><ol><li>Enable data roaming.</li></ol><p><br></p>"
                                              "installation_guides": 
                                                  "en": "https://www.airalo.com/help/getting-started-with-airalo"
                                              "text": null,
                                              "voice": null,
                                              "net_price": 2.1,
                                              "brand_settings_name": null,
                                              "sims": 
                                                  
                                                      "id": 51488,
                                                      "created_at": "2026-03-04 09:14:20"
                                                      "iccid": "8900000281278633887"
                                                      "lpa": "lpa.airalo.com"
                                                      "imsis": null,
                                                      "matching_id": "12345"
                                                      "qrcode": "LPA:1$lpa.airalo.com$12345"
                                                      "qrcode_url": "https://sandbox.airalo.com/qr?expires=1858929260&id=391631&signature=a2b9c0d0e11bca365f68f1e5b9a56fe26c6454d00f9e85c30c31836b0e4ce972"
                                                      "airalo_code": null,
                                                      "apn_type": "automatic"
                                                      "apn_value": null,
                                                      "is_roaming": true,
                                                      "confirmation_code": null,
                                                      "apn": 
                                                          "ios": 
                                                              "apn_type": "automatic"
                                                              "apn_value": null
                                                          
                                                          "android": 
                                                              "apn_type": "automatic"
                                                              "apn_value": null
                                                          
                                                      
                                                      "msisdn": null,
                                                      "direct_apple_installation_url": "https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$lpa.airalo.com$12345"
                                                  
                                              
                                                                                                                        
                                                
                        
                                                              
                                  
                              
                        
                            
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/data-usage:
    post:
      tags: [eSim]
      summary: Get data usage
      operationId: dataUsage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "2"
                  tracking_id: 11176276126126194RHSGI
                  eSim_iccid: "873000000000040589"
      responses:
        '200':
          description: Usage details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                    "status": "success"
                    "tracking_id": "11177260822126194QDWJV"
                    "booking_id": "ES2604MAYVA3A8"
                    "eSim_iccid": "8900000281278633887"
                    "instructions": 
                        "status": "ACTIVE"
                        "expire_at": "2026-03-12 06:53:53"
                        "data_amount": 
                            "total": 1024
                            "remaining": 1024
                            "unlimited": false
                        
                        "voice_amount": 
                            "total": 0
                            "remaining": 0
                        
                        "text_amount": 
                            "total": 0,
                            "remaining": 0
                      
                    
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/booking-details:
    post:
      tags: [eSim]
      summary: Get booking details
      operationId: bookingDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "2"
                  tracking_id: 11176276126126194RHSGI
                  booking_id: ES2510NOKJAAFK
      responses:
        '200':
          description: Booking info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/installation-instructions:
    post:
      tags: [eSim]
      summary: Get installation instructions
      operationId: installationInstructions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "1"
                  tracking_id: 11176276126126194RHSGI
                  eSim_iccid: "873000000000040589"
                  preferred_language: en
      responses:
        '200':
          description: Instructions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                    "status": "success"
                    "tracking_id": "11177260822126194QDWJV"
                    "booking_id": "ES2604MAYVA3A8"
                    "eSim_iccid": "8900000281278633887"
                    "instructions": 
                        "language": "EN"
                        "platforms": 
                            "ios":
                    "version": "15.0,14.0,13.0,12.0"
                    "model": null,
                    "direct_installation_url": "https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$lpa.airalo.com$12345"
                    "installation": 
                        "via_qr": 
                            "steps": 
                              "Go to “Settings”, tap “Cellular/Mobile Data”, then tap “Add Cellular/Data Plan” on your device."
                              
                            "qr_code_data": "LPA:1$lpa.airalo.com$12345"
                            "qr_code_url": "https://sandbox.airalo.com/qr?expires=1858929260&id=391631&signature=a2b9c0d0e11bca365f68f1e5b9a56fe26c6454d00f9e85c30c31836b0e4ce972"
                        "manual": 
                            "steps": 
                                "Go to “Settings”, tap “Cellular/Mobile Data”, then tap “Add Cellular/Data Plan” on your device."
                                
                        "network_setup": 
                            "steps": [
                                "Go to “Cellular/Mobile Data”, then select the recently downloaded eSIM on your device. Enable the “Turn On This Line” toggle, then select your new eSIM plan for cellular/mobile data."
                                
                            ]
                            "apn_type": "automatic"
                            "apn_value": null,
                            "is_roaming": true
                                
                                
                               
                            
                        
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/compatible-devices:
    post:
      tags: [eSim]
      summary: Get compatible devices
      operationId: compatibleDevices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: 1
      responses:
        '200':
          description: List of devices
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                    "status": "success"
                    "reason": "Compatible devices data found."
                    "compatible_devices": 
                        
                            "model": "X20"
                            "os": "android"
                            "brand": "ABCTECH"
                            "name": "X20"
                            
                        
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/topup-packages:
    post:
      tags: [eSim]
      summary: Get top-up packages
      operationId: topupPackages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "1"
                  tracking_id: 11176328969726194MHHQA
                  eSim_iccid: "873000000000042014"
      responses:
        '200':
          description: Packages
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                  value:
                    "status": "success"
                    "reason": "A total of 12 topup packages were found for your eSim."
                    "topup_tracking_id": "TUP117726938847PY1"
                    "request_data": 
                        "member_id": "1"
                        "tracking_id": "11177260822126194QDWJV"
                        "eSim_iccid": "8900000281278633887"
                    "total_esim_package": 12,
                    "data": 
                        
                            "package_id": "8900000281278633887||fatafati-in-7days-1gb-topup"
                            "topup_tracking_id": "TUP117726938847PY1"
                            "booking_tracking_id": "11177260822126194QDWJV"
                            "eSim_iccid": "8900000281278633887"
                            "supplier_key": "fatafati-in-7days-1gb-topup"
                            "type": "topup"
                            "sell_price": 489.12,
                            "sell_currency": "BDT"
                            "title": "1 GB - 7 days"
                            "package_details": 
                                "data_amount": 1024
                                "voice_amount": null
                                "text_amount": null
                                "validity_days": 7
                                "is_unlimited": false
                    "price": 
                        "promo_tag": null
                        "purchase": 
                            "total": 
                                "currency": "BDT"
                                "amount": 489.12,
                                "before_discount": 489.12,
                                "discount": 0,
                                "point": 0
                            
                            "price_breakdown": 
                                "currency": "BDT"
                                "total": 489.12,
                                "base_fare": 489.12,
                                "tax": 0,
                                "extra_person_fee": 0,
                                "supplier_sales_comission": null,
                                "payable_at_property": []
                    "sell": 
                    "total": 
                        "currency": "BDT"
                        "amount": 489.12,
                        "gross_price": 489.12,
                        "platform_fees_or_extra_tax": 0,
                        "point": 0
                    
                    "price_breakdown": 
                        "currency": "BDT"
                        "total": 489.12,
                        "base_fare": 489.12,
                        "tax": 0,
                        "platform_fees_or_extra_tax": 0,
                        "extra_person_fee": 0,
                        "supplier_sales_comission": null,
                        "payable_at_property": []
                  
                  "fmg": 
                    "total": 
                        "currency": "USD"
                        "amount": 4
                    
                    "price_breakdown": 
                        "currency": "USD"
                        "total": 4,
                        "base_fare": 4,
                        "tax": 0,
                        "extra_person_fee": 0,
                        "supplier_sales_comission": null,
                        "base_fare_fmg_charge": 0,
                        "membership_discount_percentige": 0,
                        "membership_discount_amount": 0,
                        "final_base_fare_fmg_charge": 0,
                        "payable_at_property": []
                        
                  "supplier": 
                    "total": 
                        "currency": "USD"
                        "amount": 4
                    
                    "price_breakdown": 
                        "currency": "USD"
                        "total": 4,
                        "base_fare": 4,
                        "tax": 0,
                        "sales_tax": 0,
                        "property_fees": 0,
                        "surcharges": 0,
                        "service_charge": 0,
                        "extra_person_fee": 0,
                        "supplier_sales_comission": null,
                        "payable_at_property": 
                  "short_info": null
                  "package_id": "8900000281278633887||fatafati-in-15days-2gb-topup"
                  "topup_tracking_id": "TUP117726938847PY1"
                  "booking_tracking_id": "11177260822126194QDWJV"
                  "eSim_iccid": "8900000281278633887"
                  "supplier_key": "fatafati-in-15days-2gb-topup"
                  "type": "topup"
                  "sell_price": 794.81,
                  "sell_currency": "BDT"
                  "title": "2 GB - 15 days"
                  "package_details": 
                        "data_amount": 2048,
                        "voice_amount": null,
                        "text_amount": null,
                        "validity_days": 15,
                        "is_unlimited": false
                  "filter": 
                    "validity_days": 
                        7,
                        15,
                        30,
                        3,
                        5,
                        10
                    
                  "min_price": 489
                  "max_price": 12105
                
                "search_result_logs_url": "https://temp-logs.b2b.innovatedemo.com/esim_logs/11177260822126194QDWJV/TUP117726938847PY1/topup_search_result.json"
            
                    
                            
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/topup-booking:
    post:
      tags: [eSim]
      summary: Create top-up booking
      operationId: topupBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  booking_tracking_id: 11176681417103210LPBXA
                  topup_tracking_id: TUP11766825537SLD1
                  package_id: 8900000644360253498||asialink-7days-1gb-topup
                  member_id: "2"
                  redirect_url: https://ittroman.innotraveltech.com/booking-details/e-sim?tracking_id=11176681417103210LPBXA&
                  payment_type: onlinepayment
                  isd_code: "880"
                  contact_no: 1966330000
                  email_address: iam@saaqeb.com
                  agency_email: iam@saaqeb.com
      responses:
        '200':
          description: Top-up booking created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/topup-history:
    post:
      tags: [eSim]
      summary: Get top-up history
      operationId: topupHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "1"
                  tracking_id: 11176328969726194MHHQA
                  eSim_iccid: "873000000000042014"
      responses:
        '200':
          description: History
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /esim/register-webhook:
    post:
      tags: [eSim]
      summary: Register webhook
      operationId: registerWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  supplier_code: airalo
                  supplier_uid: X1AO00065
                  notification_type: webhook_low_data
      responses:
        '200':
          description: Webhook registered
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: apikey
    secretCodeAuth:
      type: apiKey
      in: header
      name: secretecode
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string