openapi: 3.0.3
info:
  title: ITT Flight API
  version: 1.0.0
  description: Flight API endpoints converted from Postman collection.
servers:
  - url: https://serviceapi.b2b.innovatedemo.com
tags:
  - name: Flight
    description: Flight search, pricing, booking, ancillaries and post-booking flows.
security:
  - apiKeyAuth: []
    secretCodeAuth: []
paths:
  /flight/package-option:
    post:
      tags: [Flight]
      summary: Find package options
      operationId: flightPackageOption
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 11170962572705112
                  flight_key: F1FI00005-5
                  flight_option: "2"
                  connected_flight_key: F1FI00005-0
                  member_id: "1"
      responses:
        '200':
          description: Available package options for the selected flight
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/package-select:
    post:
      tags: [Flight]
      summary: Select a specific package for a flight
      operationId: flightPackageSelect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 11170962572705112
                  flight_key: F1FI00005-5
                  connected_flight_key: F1FI00005-0
                  flight_option: "2"
                  package_code: LITE
                  member_id: "1"
      responses:
        '200':
          description: Package selection confirmed with updated pricing
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/get-package-rate:
    post:
      tags: [Flight]
      summary: Get package rates for roundtrip flights
      operationId: flightGetPackageRate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 11171006481102719
                  result_type: group
                  data:
                    - flight_key: F1FI00005-0
                      package_code: LITE
                    - flight_key: F1FI00005-1
                      package_code: LITE
      responses:
        '200':
          description: Package rate details for requested segments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/update-pax-passport:
    post:
      tags: [Flight]
      summary: Update passenger passport and contact information
      operationId: flightUpdatePaxPassport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 11170298498424273
                  member_id: "1"
                  action_type: all
                  passenger:
                    - pax_id: "1"
                      pax_type: ADT
                      title: Mr
                      first_name: Nazmus
                      last_name: Nayeem
                      gender: M
                      dob: 1985-10-24
                      pax_age: "38"
                      doc_country: BD
                      doc_no: A4545455
                      doc_dateofexpiry: 2030-12-25
                      isd_code: "1"
                      contact_no: "8722956059"
                      email_address: iam@saaqeb.com
      responses:
        '200':
          description: Passenger information updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/update-booking-info:
    post:
      tags: [Flight]
      summary: Update booking-level information
      operationId: flightUpdateBookingInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  tracking_id: 131707836014242733
                  member_id: "1"
                  supplier_uid: F1DT00001
                  supplier_confirmation_id: ord_0000AeqJtGxkm1FwcohJJI
                  airlines_pnr: 3OTGI6
                  booking_status: confirm
                  ticket_status: issued
                  carrier_hotel: AI
                  departure_airport: DAC
                  arrival_airport: BKK
                  journey_type: OneWay
                  auto_cancel_status: auto-cancel
                  auto_cancel: 2024-02-13 23:59:59
                  booking_remarks: Sample
                  passenger:
                    - pax_id: "1"
                      ticket_number: X121211221
      responses:
        '200':
          description: Booking metadata updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/get-pax-details:
    post:
      tags: [Flight]
      summary: Get single passenger details
      operationId: flightGetPaxDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "1"
                  tracking_id: 11170298498424273
                  pax_id: "1"
                  pax_type: ADT
      responses:
        '200':
          description: Passenger details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/search:
   post:
    tags:
      - Flight
    summary: Search flights (OneWay, RoundTrip, MultiCity)
    operationId: flightSearch
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
          examples:
            oneWay:
              summary: One Way Search
              value:
                journey_type: "OneWay"
                segment:
                  - departure_airport_type: "AIRPORT"
                    departure_airport: "KHI"
                    arrival_airport_type: "AIRPORT"
                    arrival_airport: "LHE"
                    departure_date: "2025-03-30"
                travelers_adult: 1
                travelers_child: 0
                travelers_infants: 0
                preferred_carrier: [""]
                non_stop_flight: "any"
                baggage_option: "any"
                booking_class: "Economy"
                supplier_uid: "F1ZT00006"
                partner_id: "1"
                language: "en"
            roundTrip:
              summary: Round Trip Search
              value:
                journey_type: "RoundTrip"
                segment:
                  - departure_airport_type: "AIRPORT"
                    departure_airport: "DAC"
                    arrival_airport_type: "AIRPORT"
                    arrival_airport: "DXB"
                    departure_date: "2025-10-25"
                    arrival_date: "2025-10-30"
                  - departure_airport_type: "AIRPORT"
                    departure_airport: "DXB"
                    arrival_airport_type: "AIRPORT"
                    arrival_airport: "DAC"
                    departure_date: "2025-11-26"
                    arrival_date: "2025-11-30"
                travelers_adult: 1
                travelers_child: 0
                travelers_infants: 0
                supplier_uid: "F1EC00009"
                partner_id: "1"
                language: "en"
    responses:
      '200':
        description: Flight search results
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                summary: Successful Search Response
                value:
                  status: "success"
                  search_duration: "102 seconds"
                  timestamp: "1771393615"
                  search_complete: "2026-02-18 11:46:55"
                  tracking_id: "11177139351426194ETLIZ"
                  total_fight: 20
                  currency: "BDT"
                  resources:
                    base_url:
                      carrier: "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/icon"
                      aircraft: "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/aircraft"
                  data:
                    - flight_key: "F1TT00152-0"
                      journey_type: "OneWay"
                      price:
                        currency: "BDT"
                        total: 5295.3
                      flight_group:
                        - group: 1
                          no_of_stops: 0
                          flight_time: "PT1H"
                          routes:
                            - origin: "DAC"
                              destination: "CGP"
                              departure_time: "2026-03-12T10:00:00"
                      '400': { $ref: '#/components/responses/BadRequest' }
                      '401': { $ref: '#/components/responses/Unauthorized' }
                      '404': { $ref: '#/components/responses/NotFound' }
                      '500': { $ref: '#/components/responses/ServerError' }
      
  /flight/search-Roundtrip:
   post:
    tags:
      - Flight
    summary: Roundtrip flight search
    operationId: flight Search Roundtrip
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
          examples:
            default:
              value:
                journey_type: "RoundTrip" # OneWay, RoundTrip, MultiCity
                segment:
                  - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                    departure_airport: "DAC"
                    arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                    arrival_airport: "DXB"
                    departure_date: "2026-02-30"
                  - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                    departure_airport: "DXB"
                    arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                    arrival_airport: "DAC"
                    departure_date: "2026-03-28" # "2026-01-31"
                travelers_adult: 1
                travelers_child: 0
                travelers_child_age: 0
                travelers_infants: 0
                travelers_infants_age: []
                preferred_carrier: []
                non_stop_flight: "any" # any or non-stop
                baggage_option: "any" # any or only-baggage
                booking_class: "Economy" # Economy, Premium-Economy, Business, First-Class
                supplier_uid: "F1TT00152" # all//F1EC00009//F1TT00013
                partner_id: "" # ftm_partner_id / mark blank
                short_ref: "xxxx111" # optional for stream search
                language: "en"
    responses:
        '200':
          description: General search results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
               default:
                summary: Successful Search Response
                value:
                  "status": "success"
                  "search_duration": "125 seconds"
                  "timestamp": "1771390708"
                  "search_complete": "2026-02-18 10:58:28"
                  "tracking_id": "11177139058426194IFF1Q"
                  "ftm_partner_id": "1"
                  "partner_id": "1"
                  "partner_name": "Innovate Solution"
                  "message": null,
                  "total_fight": 226,
                  "currency": "BDT"
                  "resources": 
                        "base_url": 
                               "carrier": "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/icon"
                               "aircraft": "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/aircraft"
                  "data":
                        "tracking_id": "11177139058426194IFF1Q"
                        "flight_key": "F1TT00152-225"
                        "journey_type": "RoundTrip"
                        "result_type": "group"
                        "get_branded_fare": "yes"
                        "hold_possible": "yes"
                        "package_option": "no"
                        "supplier_title": "TravelRobotFlight-Sandbox"
                        "color_code": "#ffffff"
                        "supplier_code": "travel_robot"
                        "supplier_uid": "F1TT00152"
                        "supplier_partner_code": "travel_robot-1-00152"
                        "search_parameter":
                            "journey_type": "RoundTrip"
                            segment:
                                    - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                                      departure_airport: "DAC"
                                      arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                                      arrival_airport: "DXB"
                                      departure_date: "2026-02-30"
                                    - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                                      departure_airport: "DXB"
                                      arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                                      arrival_airport: "DAC"
                                      departure_date: "2026-03-28" # "2026-01-31"
                            travelers_adult: 1
                            travelers_child: 0
                            travelers_child_age: 0
                            travelers_infants: 0
                            travelers_infants_age: []
                            preferred_carrier: []
                            non_stop_flight: "any" # any or non-stop
                            baggage_option: "any" # any or only-baggage
                            booking_class: "Economy" # Economy, Premium-Economy, Business, First-Class
                            supplier_uid: "F1TT00152" # all//F1EC00009//F1TT00013
                            partner_id: "" # ftm_partner_id / mark blank
                            short_ref: "xxxx111" # optional for stream search
                            language: "en"
                            short_ref": "xxxx111"
                            "version": null,
                            "team_profile": null

                            "pax_options":
                                  "doc_required": "yes"
                                  "pax_dob_required": "yes"
                                  "seat_selection": "disable"
                                  "meal_selection": "disable"
                                  "baggage_selection": "disable"
                                  "passport_scan_selection": "active"
                                  "pax_search_selection": "disable"
                                  "frequent_flyer_selection": "disable"
                                  "wheelchair_selection": "disable"
                                  "pax_email_contact_selection": "active"
                                  "pax_save_option": "active"
                                  "terms_selection": "check"
                                  "cancellation_selection": "check"
                            "flight_group":
                                          group": 1,
                                          "FareAlternativeLegKeys": 
                                              "d8dc2aba34f74cd9a9f14f01c9720428|@3ad35c10-71a2-44fe-a857-c564efe80c32@ce64cbe7-6cee-4595-afc8-b507bd166a66@724fc5a9-3a06-4750-b043-a21365f2a9f8@ab53c5fb-ea78-46e1-afb6-fbfd895f2a26"
                            "flight_key": "F1TT00152-225-0"
                            "get_branded_fare": "yes"
                            "no_of_stops_title": "1 Stop Flight"
                            "no_of_stops": 1,
                            "flight_time": "PT8H50M"
                            "transit_time": "PT2H45M"
                            "currency": "TRY"
                            "fareBasisCode": "SOW1BD"
                            "booking_code": "Economy Class"
                            "routes":
                                    "AlternativeRef": "ab53c5fb-ea78-46e1-afb6-fbfd895f2a26"
                                    "air_segment_key": "1fbff16d-8de9-4a04-a6fb-4ade52c8f2e0"
                                    "origin": "DAC"
                                    "departure_time": "2026-03-02T13:00:00"
                                    "origin_terminal": null,
                                    "origin_airport":
                                            "name": "Hazrat Shahjalal International Airport"
                                            "city": "Dhaka"
                                            "country": "Bangladesh"
                                            "timezone": "Asia/Dhaka"
                                    "destination": "CMB"
                                    "arrival_time": "2026-03-02T15:55:00"
                                    "destination_terminal": null,
                                    "destination_airport":
                                            "name": "Bandaranayake International Air Port"
                                            "city": "Colombo"
                                            "country": "Sri Lanka"
                                            "timezone": "Asia/Colombo"
                                    "flight_date": "2026-03-02"
                                    "flight_time": "PT2H55M"
                                    "distance": null,
                                    "lay_over": "not-applicable"
                                    "lay_over_date": "not-applicable"
                                    "aircraft":
                                          "code": "333"
                                          "name": null,
                                          "picture": "333.png"
                                    "operating": 
                                        "carrier": "UL"
                                        "carrier_name": "SriLankan Airlines"
                                        "carrier_logo": "UL.png"
                                        "flight_number": "190"
                                    "marketing": 
                                      "carrier": "UL"
                                      "carrier_name": "SriLankan Airlines"
                                      "carrier_logo": "UL.png"
                                      "flight_number": "190"
                          
                                    "booking_class": 
                                      "cabin_class": "Economy Class"
                                      "cabin_code": "S"
                                      "booking_code": "Economy Class"
                                      "meal_code": null,
                                      "fareBasisCode": "SOW1BD"
                                      "seat_available": 9
                            
                                    "baggages": 
                                        "checked": 
                                            "ADT": 
                                                  "ptc_title": "Adult"
                                                  "passenger_type": "ADT"
                                                  "baggage_type": "checked"
                                                  "pieceCount": null,
                                                  "weight": "30"
                                                  "unit": "kg"
                                                  "title": "30 kg"
                                    "carry_on": 
                                    "ADT": 
                                        "ptc_title": "Adult"
                                        "passenger_type": "ADT"
                                        "baggage_type": "carry_on"
                                        "pieceCount": "SB"
                                        "weight": "SB"
                                        "unit": "SB"
                                        "title": "SB"
                            "AlternativeRef": "ab53c5fb-ea78-46e1-afb6-fbfd895f2a26"
                            "air_segment_key": "fd30aa7b-4da5-4e2a-88f5-ae05cf6c9f18"
                            "origin": "CMB"
                            "departure_time": "2026-03-02T18:40:00"
                            "origin_terminal": null,
                            "origin_airport": 
                                "name": "Bandaranayake International Air Port"
                                "city": "Colombo"
                                "country": "Sri Lanka"
                                "timezone": "Asia/Colombo"
                            "destination": "DXB"
                            "arrival_time": "2026-03-02T21:50:00"
                            "destination_terminal": null,
                            "destination_airport": 
                                "name": "Dubai International Airport"
                                "city": "Dubai"
                                "country": "United Arab Emirates"
                                "timezone": "Asia/Dubai"
                            "price": 
                              "currency": "BDT"
                              "total": 13767.67,
                              "gross_total": 13767.67,
                              "base_fare": 10211.61,
                              "tax": 3556.06,
                              "sell": 
                                  "currency": "BDT"
                                  "total": 13767.67,
                                  "base_fare": 10211.61,
                                  "tax": 3556.06
                              "price_hash": "eyJmbWciOnsiY3VycmVuY3kiOiJUUlkiLCJ0b3RhbCI6MTM3NjcuNjcsImJhc2VfZmFyZSI6MTAyMTEuNjEsInRheCI6MzU1Ni4wNn0sInN1cHBsaWVyIjp7ImN1cnJlbmN5IjoiVFJZIiwidG90YWwiOjEzNzY3LjY3LCJiYXNlX2ZhcmUiOjEwMjExLjYxLCJ0YXgiOjM1NTYuMDYsImNvbWlzc2lvbl90eXBlIjoiZ2VuZXJhbCIsImNvbWlzc2lvbl92YWx1ZSI6MH0sImdyb3NzX2ZhcmUiOnsiY3VycmVuY3kiOiJUUlkiLCJ0b3RhbCI6MTM3NjcuNjcsImJhc2VfZmFyZSI6MTAyMTEuNjEsInRheCI6MzU1Ni4wNn19"
                        "price_breakdown": 
                            
                                "passenger_id": "1"
                                "supplier_pax_id": "1"
                                "passenger_type": "ADT"
                                "primary_ptc": "ADT"
                                "ptc_title": "Adult"
                                "passenger_total": 1,
                                "pax_calculate_type": "yes"
                                "comission_type": ""
                                "comission_value": ""
                                "currency": "BDT"
                                "total": 13767.67,
                                "base_fare": 10211.61,
                                "tax": 3556.06,
                                "ticket_issue_charge": 0,
                                "total_ticket_issue_charge": 0,
                                "gross": {
                                    "base_fare": "10211.61",
                                    "tax": "3556.06",
                                    "discount": 0,
                                    "ait": "0.00",
                                    "service_charge": 0
                                }
                                "partner": 
                                    "currency": "BDT"
                                    "total": 13767.67,
                                    "base_fare": 10211.61,
                                    "tax": 3556.06,
                                    "gross": 
                                        "base_fare": "10211.61"
                                        "tax": "3556.06"
                                        "discount": "0.00"
                                        "ait": "0.00"
                                        "service_charge": 0
                                    "taxBreakdown": 
                                        "BD": {
                                            "title": "BD -Embarkation Fee (Domestic/International)",
                                            "amount": "0.00"
                                        }
                                        "UT": {
                                            "title": "UT - Foreign Air Travel Tax (FATT)",
                                            "amount": "0.00"
                                        }
                                        "E5": {
                                            "title": "E5 - Value Added Tax on Embarkation Fees",
                                            "amount": "0.00"
                                        }
                                        "YQ": {
                                            "title": "YQ - Carrier-Imposed Surcharge/Fuel Surcharge",
                                            "amount": "0.00"
                                        }
                                        "YR": {
                                            "title": "YR - Another Carrier-Imposed Surcharge",
                                            "amount": "0.00"
                                        }
                                        "Other": 
                                            "title": "Others taxes"
                                            "amount": "0.00"
                                    "group": 1,
                                    "FareAlternativeLegKeys": 
                                      "d8dc2aba34f74cd9a9f14f01c9720428|@3ad35c10-71a2-44fe-a857-c564efe80c32@7c119f81-7280-4591-9b29-a437d441b0f2@57a343dd-5c77-4a95-8bb6-46d75517ad17@e27f4fd0-e20f-4e8d-bcfd-17d296225c95"
                                    "flight_key": "F1TT00152-225-1"
                                    "get_branded_fare": "yes"
                                    "no_of_stops_title": "1 Stop Flight"
                                    "no_of_stops": 1,
                                    "flight_time": "P1DT4H10M"
                                    "transit_time": "PT22H5M"
                                    
                                    "fareBasisCode": "SOW1BD"
                                    "booking_code": "Economy Class"
                                    "routes": "DXB"
                        "fare_rules": 
                                "refundable_data": null,
                                "refundable": "non-refundable"
                                "change_before_departure": "not-available"
                        "total_price": 171972.21,
                        "filter": 
                            "id": "F1TT00152-47"
                            "price": 171972.21,
                            "journey_duration": "PT"
                            "journey_duration_seconds": null,
                            "layover_duration": "PT"
                            "layover_duration_seconds": null,
                            "carrier_operating": "EK"
                            "carrier_marketing": "EK"
                            "aircraft": "77W"
                            "aircraft_name": null,
                            "cabin_class": "Economy Class"
                            "connecting_airport": []
                            "total_segment_count": 1,
                            "no_of_stops": 0,
                            "departure_timing_slot": "evening"
                            "departure_departure_time": "2026-03-02T18:45:00"
                            "arrival_timing_slot": "morning"
                            "arrival_departure_time": "2026-03-28T10:50:00"
                            "refund": "non-refundable"
                            "baggage_value": null,
                            "baggage_unit": null,
                            "baggage_title": "no-baggage"
                  "filter_unique_filter_code":          "dac202603021845dxb202603022215587dxb202603280210dac202603281050148"
                  "destination_reach_time": "PT"
                  "destination_reach_timestamp": null
                  "filter_data": 
                      "lowest_price": 
                          "id": "F1TT00152-225"
                          "price": 23486.84,
                          "gross_total": null,
                          "journey_duration": "PT"
                          "journey_duration_seconds": null,
                          "layover_duration": "PT"
                          "layover_duration_seconds": null,
                          "carrier_operating": "UL"
                          "carrier_marketing": "UL"
                          "departure_timing_slot": "afternoon"
                          "departure_departure_time": "2026-03-02T13:00:00"
                          "arrival_timing_slot": "morning"
                          "arrival_departure_time": "2026-03-29T11:50:00"
                  "highest_price": 
                          "id": "F1TT00152-41"
                          "price": 171972.21,
                          "gross_total": null,
                          "journey_duration": "PT"
                          "journey_duration_seconds": null,
                          "layover_duration": "PT"
                          "layover_duration_seconds": null,
                          "carrier_operating": "BG"
                          "carrier_marketing": "BG"
                          "departure_timing_slot": "evening"
                          "departure_departure_time": "2026-03-02T20:40:00"
                          "arrival_timing_slot": "night"
                          "arrival_departure_time": "2026-03-28T23:00:00"
                  "lowest_layover_time": 
                        "id": "F1TT00152-0"
                        "price": 24628.42,
                        "gross_total": null,
                        "journey_duration": "PT"
                        "journey_duration_seconds": null,
                        "layover_duration": "PT"
                        "layover_duration_seconds": null,
                        "carrier_operating": "BG"
                        "carrier_marketing": "BG"
                        "departure_timing_slot": "evening"
                        "departure_departure_time": "2026-03-02T20:40:00"
                        "arrival_timing_slot": "morning"
                        "arrival_departure_time": "2026-03-28T10:50:00"
                  "highest_layover_time": 
                        "id": "F1TT00152-0"
                        "price": 24628.42,
                        "gross_total": null,
                        "journey_duration": "PT"
                        "journey_duration_seconds": null,
                        "layover_duration": "PT"
                        "layover_duration_seconds": null,
                        "carrier_operating": "BG"
                        "carrier_marketing": "BG"
                        "departure_timing_slot": "evening"
                        "departure_departure_time": "2026-03-02T20:40:00"
                        "arrival_timing_slot": "morning"
                        "arrival_departure_time": "2026-03-28T10:50:00"
                  "fastest_duration": 
                        "id": "F1TT00152-0"
                        "price": 24628.42,
                        "gross_total": null,
                        "journey_duration": "PT"
                        "journey_duration_seconds": null,
                        "layover_duration": "PT"
                        "layover_duration_seconds": null,
                        "carrier_operating": "BG"
                        "carrier_marketing": "BG"
                        "departure_timing_slot": "evening"
                        "departure_departure_time": "2026-03-02T20:40:00"
                        "arrival_timing_slot": "morning"
                        "arrival_departure_time": "2026-03-28T10:50:00"
                  "highest_duration": 
                        "id": "F1TT00152-0"
                        "price": 24628.42,
                        "gross_total": null,
                        "journey_duration": "PT"
                        "journey_duration_seconds": null,
                        "layover_duration": "PT"
                        "layover_duration_seconds": null,
                        "carrier_operating": "BG"
                        "carrier_marketing": "BG"
                        "departure_timing_slot": "evening"
                        "departure_departure_time": "2026-03-02T20:40:00"
                        "arrival_timing_slot": "morning"
                        "arrival_departure_time": "2026-03-28T10:50:00"
                  "lowest_departure_time": 
                        "id": "F1TT00152-3"
                        "price": 31722.32,
                        "gross_total": null,
                        "journey_duration": "PT"
                        "journey_duration_seconds": null,
                        "layover_duration": "PT"
                        "layover_duration_seconds": null,
                        "carrier_operating": "EK"
                        "carrier_marketing": "EK"
                        "departure_timing_slot": "midnight"
                        "departure_departure_time": "2026-03-02T01:00:00"
                        "arrival_timing_slot": "evening"
                        "arrival_departure_time": "2026-03-28T17:00:00"
                  "take_off": {
                      "0": "evening",
                      "1": "afternoon",
                      "2": "morning",
                      "3": "midnight",
                      "7": "night",
                      "158": "early-morning"
                  }
                  "landing_time": {
                      "0": "morning",
                      "2": "midnight",
                      "3": "evening",
                      "8": "night",
                      "12": "early-morning",
                      "18": "afternoon"
                   }
                  "carrier": 
                  "operating": [
                                  "8D",
                                  "AI",
                                  "BG",
                                  "EK",
                                  "FZ",
                                  "GF",
                                  "KU",
                                  "MU",
                                  "OD",
                                  "QR",
                                  "SV",
                                  "TK",
                                  "UL"
                              ]
                  "marketing": [
                                  "8D",
                                  "AI",
                                  "BG",
                                  "EK",
                                  "FZ",
                                  "GF",
                                  "KU",
                                  "MU",
                                  "OD",
                                  "QR",
                                  "SV",
                                  "TK",
                                  "UL"
                              ]
                  "baggage": [
                              {
                                  "baggage_value": null,
                                  "baggage_unit": null,
                                  "baggage_title": "no-baggage"
                              }
                          ]
                  "connecting_airport": [
                                    "BAH",
                                    "BOM",
                                    "CAI",
                                    "CAN",
                                    "CGP",
                                    "CMB",
                                    "DEL",
                                    "DOH",
                                    "DXB",
                                    "IST",
                                    "JED",
                                    "KMG",
                                    "KUL",
                                    "KWI",
                                    "RUH"
                                ]
                  "no_of_stops": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    5,
                                    7
                  ]
                  search_parameter": 
                      "journey_type": "RoundTrip"
                      "segment": [
                                  {
                                      "departure_airport_type": "AIRPORT",
                                      "departure_airport": "DAC",
                                      "arrival_airport_type": "AIRPORT",
                                      "arrival_airport": "DXB",
                                      "departure_date": "2026-02-30"
                                  },
                                  {
                                      "departure_airport_type": "AIRPORT",
                                      "departure_airport": "DXB",
                                      "arrival_airport_type": "AIRPORT",
                                      "arrival_airport": "DAC",
                                      "departure_date": "2026-03-28"
                                  }
                      ]
                      "travelers_adult": 1,
                      "travelers_child": 0,
                      "travelers_child_age": 0,
                      "travelers_infants": 0,
                      "travelers_infants_age": []
                      "fare_type": null,
                      "fare_option": null,
                      "content_type": null,
                      "ptc_option": null,
                      "agency_ethnic_list": null,
                      "preferred_carrier": []
                      "non_stop_flight": "any"
                      "baggage_option": "any"
                      "booking_class": "Economy"
                      "supplier_uid": "all"
                      "partner_id": "1"
                      "language": "en"
                      "short_ref": "xxxx111"
                      "version": null,
                      "team_profile": null
                  "search_result_logs_url": "https://temp-logs.b2b.innovatedemo.com/flight_logs/11177139058426194IFF1Q/search_result.json"
                  "beforeSearchduration": "1 seconds"
        
                
    
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/search-Multicity:
    post:
      tags: [Flight]
      summary: Search calendar fares for +/- days
      operationId: flightSearchCalendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
               value:
                journey_type: "Multicity" # OneWay, RoundTrip, MultiCity
                segment:
                  - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                    departure_airport: "DAC"
                    arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                    arrival_airport: "DXB"
                    departure_date: "2026-02-30"

                  - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                    departure_airport: "DXB"
                    arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                    arrival_airport: "DAC"
                    departure_date: "2026-03-28" # "2026-01-31"

                  - departure_airport_type: "AIRPORT" # CITY or AIRPORT
                    departure_airport: "DXB"
                    arrival_airport_type: "AIRPORT" # CITY or AIRPORT
                    arrival_airport: "DAC"
                    departure_date: "2026-03-28" # "2026-01-31"
                travelers_adult: 1
                travelers_child: 0
                travelers_child_age: 0
                travelers_infants: 0
                travelers_infants_age: []
                preferred_carrier: []
                non_stop_flight: "any" # any or non-stop
                baggage_option: "any" # any or only-baggage
                booking_class: "Economy" # Economy, Premium-Economy, Business, First-Class
                supplier_uid: "F1TT00152" # all//F1EC00009//F1TT00013
                partner_id: "" # ftm_partner_id / mark blank
                short_ref: "xxxx111" # optional for stream search
                language: "en"
        
      responses:
        '200':
          description: Calendar fare search results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                default:
                summary:
                 value:
                   "status": "success"
                   "search_duration": "120 seconds"
                   "timestamp": "1771398099"
                   "search_complete": "2026-02-18 13:01:39"
                   "tracking_id": "11177139798126194GPE53"
                   "ftm_partner_id": "1"
                   "partner_id": "1"
                   "partner_name": "Innovate Solution"
                   "message": null,
                   "total_fight": 344,
                   "currency": "BDT"
                   "resources": 
                      "base_url": 
                          "carrier": "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/icon"
                          "aircraft": "https://airlines-resources.s3.ap-southeast-1.amazonaws.com/aircraft"
                "data": 
        
                  "flight_group": 
                
                      "group": 1,
                      "flight_key": "F1EC00117-0-0"
                      "no_of_stops_title": "Direct Flight"
                      "no_of_stops": 0,
                      "flight_time": "PT5H25M"
                      "transit_time": null,
                      "ShoppingResponseID": "XB22F9DE3-AED0-44C1-AD6"
                      "Owner": "EK"
                      "OfferID": "XB22F9DE3-AED0-44C1-AD6-1"
                      "PriceClassRef": "Xpc07000b69563a0"
                      "OriginDestinationKey": "OD1"
                      "routes":
                            "air_segment_key": "Isgm02000b69563a0"
                            "origin": "DAC"
                            "departure_time": "2026-02-20 01:00"
                            "origin_terminal": "1"
                            "origin_airport":
                                "name": "Hazrat Shahjalal International Airport"
                                "city": "Dhaka"
                                "country": "Bangladesh"
                                "timezone": "Asia/Dhaka"
                            "destination": "DXB"
                            "arrival_time": "2026-02-20 04:25"
                            "destination_terminal": "3"
                            "destination_airport": {
                                "name": "Dubai International Airport",
                                "city": "Dubai",
                                "country": "United Arab Emirates",
                                "timezone": "Asia/Dubai"
                            }
                            "flight_date": "2026-02-20"
                            "flight_time": "PT05H25M"
                            "distance": "2196"
                            "lay_over": "not-applicable"
                            "lay_over_date": "not-applicable"
                            "aircraft": {
                                "code": "77W",
                                "name": "Boeing 777-300ER Passenger",
                                "picture": "77W.png"
                            }
                            "operating": {
                                "carrier": "EK",
                                "carrier_name": "Emirates",
                                "carrier_logo": "EK.png",
                                "flight_number": "585"
                            }
                            "marketing": {
                                "carrier": "EK",
                                "carrier_name": "Emirates",
                                "carrier_logo": "EK.png",
                                "flight_number": "585"
                            }
                            "booking_class": {
                                "cabin_class": "ECONOMY",
                                "cabin_code": "Y",
                                "booking_code": "K",
                                "meal_code": null,
                                "seat_available": 5
                            }
                            "baggages": 
                                "checked": 
                                    "ADT": 
                                        "passenger_type": "ADT"
                                        "baggage_type": "checked"
                                        "pieceCount": null,
                                        "weight": "30"
                                        "unit": "kg"
                                        "title": "30 kg"
                            "carry_on": 
                                    "ADT": 
                                        "passenger_type": "ADT"
                                        "baggage_type": "carry_on"
                                        "pieceCount": "1"
                                        "weight": null,
                                        "unit": "pieces"
                                        "title": "1 pieces"
                            "price": 
                                  "currency": "BDT"
                                  "total": 93452,
                                  "gross_total": 93452,
                                  "base_fare": 79885,
                                  "tax": 13567,
                                  "sell": {
                                      "currency": "BDT",
                                      "total": 93452,
                                      "base_fare": 79885,
                                      "tax": 13567
                                  }
                                  "price_hash": "eyJmbWciOnsiY3VycmVuY3kiOiJCRFQiLCJ0b3RhbCI6OTM0NTIsImJhc2VfZmFyZSI6Nzk4ODUsInRheCI6MTM1Njd9LCJzdXBwbGllciI6eyJjdXJyZW5jeSI6IkJEVCIsInRvdGFsIjo5MzQ1MiwiYmFzZV9mYXJlIjo3OTg4NSwidGF4IjoxMzU2NywiY29taXNzaW9uX3R5cGUiOiJnZW5lcmFsIiwiY29taXNzaW9uX3ZhbHVlIjowfSwiZ3Jvc3NfZmFyZSI6eyJjdXJyZW5jeSI6IkJEVCIsInRvdGFsIjo5MzQ1MiwiYmFzZV9mYXJlIjo3OTg4NSwidGF4IjoxMzU2N319"
                            "price_breakdown": 
                            
                                "passenger_id": "1"
                                "supplier_pax_id": "1"
                                "passenger_type": "ADT"
                                "primary_ptc": "ADT"
                                "ptc_title": "Adult"
                                "passenger_total": 1,
                                "pax_calculate_type": "yes"
                                "comission_type": ""
                                "comission_value": ""
                                "currency": "BDT"
                                "total": 93452,
                                "base_fare": 79885,
                                "tax": 13567,
                                "ticket_issue_charge": 0,
                                "total_ticket_issue_charge": 0,
                                "gross": {
                                    "base_fare": "79885.00",
                                    "tax": "13567.00",
                                    "discount": 0,
                                    "ait": "0.00",
                                    "service_charge": 0
                                }
                                "partner": 
                                    "currency": "BDT"
                                    "total": 93452,
                                    "base_fare": 79885,
                                    "tax": 13567,
                                    "gross": 
                                        "base_fare": "79885.00"
                                        "tax": "13567.00"
                                        "discount": "0.00"
                                        "ait": "0.00"
                                        "service_charge": 0
                                "taxBreakdown":
                                        "BD": {
                                            "title": "BD -Embarkation Fee (Domestic/International)",
                                            "amount": "0.00"
                                        }
                                        "UT": {
                                            "title": "UT - Foreign Air Travel Tax (FATT)",
                                            "amount": "0.00"
                                        }
                                        "E5": {
                                            "title": "E5 - Value Added Tax on Embarkation Fees",
                                            "amount": "0.00"
                                        }
                                        "YQ": {
                                            "title": "YQ – Carrier-Imposed Surcharge/Fuel Surcharge",
                                            "amount": "0.00"
                                        }
                                        "YR": {
                                            "title": "YR – Another Carrier-Imposed Surcharge",
                                            "amount": "0.00"
                                        }
                                        "Other": 
                                            "title": "Others taxes"
                                            "amount": "0.00"
                                        "priceHash":    "eyJmbWciOnsiY3VycmVuY3kiOiJCRFQiLCJ0b3RhbCI6IjkzNDUyLjAwIiwiYmFzZV9mYXJlIjoiNzk4ODUuMDAiLCJ0YXgiOiIxMzU2Ny4wMCIsImdyb3NzIjp7ImJhc2VfZmFyZSI6Ijc5ODg1LjAwIiwidGF4IjoiMTM1NjcuMDAiLCJkaXNjb3VudCI6IjAuMDAiLCJhaXQiOiIwLjAwIiwic2VydmljZV9jaGFyZ2UiOiIwLjAwIn0sImNvbmZpZyI6eyJtYXJrdXBfdHlwZSI6bnVsbCwibWFya3VwX3RpdGxlIjpudWxsLCJyZXZlbnVlIjoiMC4wMCIsInRpY2tldF9pc3N1ZV9jaGFyZ2UiOiIwLjAwIiwidG90YWxfdGlja2V0X2lzc3VlX2NoYXJnZSI6IjAuMDAiLCJjdXJyZW5jeUV4Y2hhbmdlUmF0ZSI6IjEuMDAiLCJGTUdfT3ZlcndyaXRlUnVsZXMiOltdfX0sInN1cHBsaWVyIjp7ImN1cnJlbmN5IjoiQkRUIiwidG90YWwiOiI5MzQ1Mi4wMCIsImJhc2VfZmFyZSI6Ijc5ODg1LjAwIiwidGF4IjoiMTM1NjcuMDAiLCJncm9zcyI6eyJiYXNlX2ZhcmUiOiI3OTg4NS4wMCIsInRheCI6IjEzNTY3LjAwIiwiZGlzY291bnQiOiIwLjAwIiwiYWl0IjoiMC4wMCIsInNlcnZpY2VfY2hhcmdlIjowLCJwZXJfc2VnbWVudF9kaXNjb3VudCI6MCwic2VnbWVudF9kaXNjb3VudCI6IjAuMDAiLCJzdXBwbGllcl9zZWdtZW50X2ZlZXNDYWxjdWxhdGUiOm51bGwsInNlZ21lbnRfZGlzY291bnRfYWNjb3VudFB1cnBvc2UiOm51bGx9fSwiZ3Jvc3NfZmFyZSI6eyJjdXJyZW5jeSI6IkJEVCIsInRvdGFsIjoiOTM0NTIuMDAiLCJiYXNlX2ZhcmUiOiI3OTg4NS4wMCIsInRheCI6IjEzNTY3LjAwIiwiZGlzY291bnQiOiIwLjAwIiwiYWl0IjoiMC4wMCIsInNlcnZpY2VfY2hhcmdlIjoiMC4wMCIsInBheWFibGUiOjkzNDUyLCJ0YXhCcmVha2Rvd24iOnsiQkQiOnsiYW1vdW50IjoiMC4wMCJ9LCJVVCI6eyJhbW91bnQiOiIwLjAwIn0sIkU1Ijp7ImFtb3VudCI6IjAuMDAifSwiWVEiOnsiYW1vdW50IjoiMC4wMCJ9LCJZUiI6eyJhbW91bnQiOiIwLjAwIn0sIk90aGVyIjp7ImFtb3VudCI6IjAuMDAifSwic3VwcGxpZXJUYXhEYXRhIjpbXX19LCJkaXNjb3VudF9jb21pc3Npb25fdGl0bGUiOm51bGwsImRpc2NvdW50X2NvbWlzc2lvbl9yYXRpbyI6MCwiZHluYW1pY19tYXJrdXBfdHlwZSI6bnVsbCwiZHluYW1pY19tYXJrdXBfdGl0bGUiOm51bGwsImR5bmFtaWNfbWFya3VwX3JhdGlvIjpudWxsLCJhcHBsaWNhYmxlX2NvbWlzc2lvbiI6bnVsbCwiYXBwbGljYWJsZV9keW5hbWljX21hcmt1cCI6bnVsbH0="

                            "group": 1
                            "flight_key": "F1EC00117-0-1"
                            "no_of_stops_title": "Direct Flight"
                            "no_of_stops": 0,
                            "transit_time": null,
                            "ShoppingResponseID": "XB22F9DE3-AED0-44C1-AD6"
                            "Owner": "EK"
                            "OfferID": "XB22F9DE3-AED0-44C1-AD6-4"
                            "PriceClassRef": "Xpc18000b69563a0"
                            "OriginDestinationKey": "OD1"
                            "routes": 
                                  "air_segment_key": "Isgm02000b69563a0"
                                  "origin": "DAC"
                                  "departure_time": "2026-02-20 01:00"
                                  "origin_terminal": "1"
                                  "origin_airport": 
                                  "name": "Hazrat Shahjalal International Airport"
                                  "city": "Dhaka"
                                  "country": "Bangladesh"
                                  "timezone": "Asia/Dhaka"

                                  "destination": "DXB"
                                  "arrival_time": "2026-02-20 04:25"
                                  "destination_terminal": "3"
                                  "destination_airport": 
                                      "name": "Dubai International Airport"
                                      "city": "Dubai"
                                      "country": "United Arab Emirates"
                                      "timezone": "Asia/Dubai"
                                  "flight_date": "2026-02-20"
                                  "flight_time": "PT05H25M"
                                  "distance": "2196"
                                  "lay_over": "not-applicable"
                                  "lay_over_date": "not-applicable"
                                  "aircraft": 
                                      "code": "77W"
                                      "name": "Boeing 777-300ER Passenger"
                                      "picture": "77W.png"
                            
                                  "operating": 
                                    "carrier": "EK"
                                    "carrier_name": "Emirates"
                                    "carrier_logo": "EK.png"
                                    "flight_number": "585"
                            
                                  "marketing": 
                                    "carrier": "EK"
                                    "carrier_name": "Emirates"
                                    "carrier_logo": "EK.png"
                                    "flight_number": "585"
                            
                                  "booking_class": 
                                    "cabin_class": "ECONOMY"
                                    "cabin_code": "Y"
                                    "booking_code": "R"
                                    "meal_code": null,
                                    "seat_available": 5
                                  "baggages": 
                                  "checked": 
                                    "ADT": 
                                        "passenger_type": "ADT"
                                        "baggage_type": "checked"
                                        "pieceCount": null,
                                        "weight": "35"
                                        "unit": "kg"
                                        "title": "35 kg"
                                    
                                
                                  "carry_on": 
                                    "ADT": 
                                        "passenger_type": "ADT"
                                        "baggage_type": "carry_on"
                                        "pieceCount": "1"
                                        "weight": null,
                                        "unit": "pieces"
                                        "title": "1 pieces"
                                  "price": 
                                        "currency": "BDT"
                                        "total": 209535,
                                        "gross_total": 209535,
                                        "base_fare": 195968,
                                        "tax": 13567,
                                        "sell": 
                                              "currency": "BDT"
                                              "total": 209535,
                                              "base_fare": 195968,
                                              "tax": 13567
                                  "price_hash":   "eyJmbWciOnsiY3VycmVuY3kiOiJCRFQiLCJ0b3RhbCI6MjA5NTM1LCJiYXNlX2ZhcmUiOjE5NTk2OCwidGF4IjoxMzU2N30sInN1cHBsaWVyIjp7ImN1cnJlbmN5IjoiQkRUIiwidG90YWwiOjIwOTUzNSwiYmFzZV9mYXJlIjoxOTU5NjgsInRheCI6MTM1NjcsImNvbWlzc2lvbl90eXBlIjoiZ2VuZXJhbCIsImNvbWlzc2lvbl92YWx1ZSI6MH0sImdyb3NzX2ZhcmUiOnsiY3VycmVuY3kiOiJCRFQiLCJ0b3RhbCI6MjA5NTM1LCJiYXNlX2ZhcmUiOjE5NTk2OCwidGF4IjoxMzU2N319"

                                  "price_breakdown":
                                          "passenger_id": "1"
                                          "supplier_pax_id": "1"
                                          "passenger_type": "ADT"
                                          "primary_ptc": "ADT"
                                          "ptc_title": "Adult"
                                          "passenger_total": 1,
                                          "pax_calculate_type": "yes"
                                          "comission_type": ""
                                          "comission_value": ""
                                          "currency": "BDT"
                                          "total": 209535,
                                          "base_fare": 195968,
                                          "tax": 13567,
                                          "ticket_issue_charge": 0,
                                          "total_ticket_issue_charge": 0,
                                          "gross": 
                                              "base_fare": "195968.00"
                                              "tax": "13567.00"
                                              "discount": 0,
                                              "ait": "0.00"
                                              "service_charge": 0
                                          "partner": 
                                              "currency": "BDT"
                                              "total": 209535,
                                              "base_fare": 195968,
                                              "tax": 13567,
                                              "gross": {
                                                  "base_fare": "195968.00",
                                                  "tax": "13567.00",
                                                  "discount": "0.00",
                                                  "ait": "0.00",
                                                  "service_charge": 0
                                              }
                                              "taxBreakdown": 
                                                  "BD": {
                                                      "title": "BD -Embarkation Fee (Domestic/International)",
                                                      "amount": "0.00"
                                                  }
                                                  "UT": {
                                                      "title": "UT - Foreign Air Travel Tax (FATT)",
                                                      "amount": "0.00"
                                                  }
                                                  "E5": {
                                                      "title": "E5 - Value Added Tax on Embarkation Fees",
                                                      "amount": "0.00"
                                                  }
                                                  "YQ": {
                                                      "title": "YQ – Carrier-Imposed Surcharge/Fuel Surcharge",
                                                      "amount": "0.00"
                                                  }
                                                  "YR": {
                                                      "title": "YR – Another Carrier-Imposed Surcharge",
                                                      "amount": "0.00"
                                                  }
                                                  "Other": {
                                                      "title": "Others taxes",
                                                      "amount": "0.00"
                                                  }
                                              "priceHash": "eyJmbWciOnsiY3VycmVuY3kiOiJCRFQiLCJ0b3RhbCI6IjIwOTUzNS4wMCIsImJhc2VfZmFyZSI6IjE5NTk2OC4wMCIsInRheCI6IjEzNTY3LjAwIiwiZ3Jvc3MiOnsiYmFzZV9mYXJlIjoiMTk1OTY4LjAwIiwidGF4IjoiMTM1NjcuMDAiLCJkaXNjb3VudCI6IjAuMDAiLCJhaXQiOiIwLjAwIiwic2VydmljZV9jaGFyZ2UiOiIwLjAwIn0sImNvbmZpZyI6eyJtYXJrdXBfdHlwZSI6bnVsbCwibWFya3VwX3RpdGxlIjpudWxsLCJyZXZlbnVlIjoiMC4wMCIsInRpY2tldF9pc3N1ZV9jaGFyZ2UiOiIwLjAwIiwidG90YWxfdGlja2V0X2lzc3VlX2NoYXJnZSI6IjAuMDAiLCJjdXJyZW5jeUV4Y2hhbmdlUmF0ZSI6IjEuMDAiLCJGTUdfT3ZlcndyaXRlUnVsZXMiOltdfX0sInN1cHBsaWVyIjp7ImN1cnJlbmN5IjoiQkRUIiwidG90YWwiOiIyMDk1MzUuMDAiLCJiYXNlX2ZhcmUiOiIxOTU5NjguMDAiLCJ0YXgiOiIxMzU2Ny4wMCIsImdyb3NzIjp7ImJhc2VfZmFyZSI6IjE5NTk2OC4wMCIsInRheCI6IjEzNTY3LjAwIiwiZGlzY291bnQiOiIwLjAwIiwiYWl0IjoiMC4wMCIsInNlcnZpY2VfY2hhcmdlIjowLCJwZXJfc2VnbWVudF9kaXNjb3VudCI6MCwic2VnbWVudF9kaXNjb3VudCI6IjAuMDAiLCJzdXBwbGllcl9zZWdtZW50X2ZlZXNDYWxjdWxhdGUiOm51bGwsInNlZ21lbnRfZGlzY291bnRfYWNjb3VudFB1cnBvc2UiOm51bGx9fSwiZ3Jvc3NfZmFyZSI6eyJjdXJyZW5jeSI6IkJEVCIsInRvdGFsIjoiMjA5NTM1LjAwIiwiYmFzZV9mYXJlIjoiMTk1OTY4LjAwIiwidGF4IjoiMTM1NjcuMDAiLCJkaXNjb3VudCI6IjAuMDAiLCJhaXQiOiIwLjAwIiwic2VydmljZV9jaGFyZ2UiOiIwLjAwIiwicGF5YWJsZSI6MjA5NTM1LCJ0YXhCcmVha2Rvd24iOnsiQkQiOnsiYW1vdW50IjoiMC4wMCJ9LCJVVCI6eyJhbW91bnQiOiIwLjAwIn0sIkU1Ijp7ImFtb3VudCI6IjAuMDAifSwiWVEiOnsiYW1vdW50IjoiMC4wMCJ9LCJZUiI6eyJhbW91bnQiOiIwLjAwIn0sIk90aGVyIjp7ImFtb3VudCI6IjAuMDAifSwic3VwcGxpZXJUYXhEYXRhIjpbXX19LCJkaXNjb3VudF9jb21pc3Npb25fdGl0bGUiOm51bGwsImRpc2NvdW50X2NvbWlzc2lvbl9yYXRpbyI6MCwiZHluYW1pY19tYXJrdXBfdHlwZSI6bnVsbCwiZHluYW1pY19tYXJrdXBfdGl0bGUiOm51bGwsImR5bmFtaWNfbWFya3VwX3JhdGlvIjpudWxsLCJhcHBsaWNhYmxlX2NvbWlzc2lvbiI6bnVsbCwiYXBwbGljYWJsZV9keW5hbWljX21hcmt1cCI6bnVsbH0="

                                              "group": 2,
                                              "FareAlternativeLegKeys": 
                                                "3a1f246fde7e40889f8f5e1078afabf6|    @902a36c2-90f3-4907-b074-fb8b91968aca@ae69f9cc-50f6-4b90-9fe0-75b84efad3ac@13d0ccfa-f78b-4717-99d7-bfc99a4f93ea@02ed517c-6f54-45eb-85d6-1ceeecc6aa8b"
                                          "flight_key": "F1TT00152-39"
                                          "get_branded_fare": "yes"
                                          "no_of_stops_title": "1 Stop Flight"
                                          "no_of_stops": 1
                                          "flight_time": "PT20H20M"
                                          "transit_time": "PT11H"
                                          
                                          "fareBasisCode": "SRIEGO"
                                          "booking_code": "Economy Class"
                                          "routes":
                                                  "AlternativeRef": "4be6a345-7fe6-46c7-80ab-b405758b40da"
                                                  "air_segment_key": "e1ecf07b-0e31-4f15-935d-fb9e949ea762"
                                                  "origin": "DXB"
                                                  "departure_time": "2026-03-22T20:15:00"
                                                  "origin_terminal": null,
                                                  "origin_airport": {
                                                      "name": "Dubai International Airport",
                                                      "city": "Dubai",
                                                      "country": "United Arab Emirates",
                                                      "timezone": "Asia/Dubai"
                                                  }
                                                  "destination": "CAI"
                                                  "arrival_time": "2026-03-22T22:25:00"
                                                  "destination_terminal": null,
                                                  "destination_airport": {
                                                      "name": "Cairo International Airport",
                                                      "city": "Cairo",
                                                      "country": "Egypt",
                                                      "timezone": "Africa/Cairo"
                                                  }
                                                  "flight_date": "2026-03-22"
                                                  "flight_time": "PT4H10M"
                                                  "distance": null,
                                                  "lay_over": "not-applicable"
                                                  "lay_over_date": "not-applicable"
                                                  "aircraft": {
                                                      "code": "738",
                                                      "name": null,
                                                      "picture": "738.png"
                                                  }
                                                  "operating": {
                                                      "carrier": "MS",
                                                      "carrier_name": "Egyptair",
                                                      "carrier_logo": "MS.png",
                                                      "flight_number": "906"
                                                  }
                                                  "marketing": {
                                                      "carrier": "MS",
                                                      "carrier_name": "Egyptair",
                                                      "carrier_logo": "MS.png",
                                                      "flight_number": "906"
                                                  }
                                                  "booking_class": { 
                                                      "cabin_class": "Economy Class",
                                                      "cabin_code": "S"
                                                      
                                                  }

                                                  "baggages": 
                                                    "checked": 
                                                        "ADT": 
                                                            "ptc_title": "Adult"
                                                            "passenger_type": "ADT"
                                                            "baggage_type": "checked"
                                                            "pieceCount": "2"
                                                            "weight": null,
                                                            "unit": "Piece"
                                                            "title": "/ 2 piece"
                                                  "carry_on":
                                                        "ADT": 
                                                            "ptc_title": "Adult"
                                                            "passenger_type": "ADT"
                                                            "baggage_type": "carry_on"
                                                            "pieceCount": "SB"
                                                            "weight": "SB"
                                                            "unit": "SB"
                                                            "title": "SB"
                                          "AlternativeRef": "4be6a345-7fe6-46c7-80ab-b405758b40da"
                                          "air_segment_key": "c79a1af9-26d2-4b77-8565-ca8a5e6b54ab"
                                          "origin": "CAI"
                                          "departure_time": "2026-03-23T09:25:00"
                                          "origin_terminal": null,
                                          "origin_airport": 
                                              "name": "Cairo International Airport"
                                              "city": "Cairo"
                                              "country": "Egypt"
                                              "timezone": "Africa/Cairo"
                                          "destination": "LHR"
                                          "arrival_time": "2026-03-23T12:35:00"
                                          "destination_terminal": null,
                                          "destination_airport": {
                                               "name": "London Heathrow Airport",
                                               "city": "London",
                                               "country": "United Kingdom",
                                               "timezone": "Europe/London"
                                                  }

                                          "flight_date": "2026-03-23"
                                          "distance": null,
                                          "lay_over": "PT11H00M"
                                          "lay_over_date": "not-applicable"
                                          "aircraft": {
                                                "code": "773",
                                                "name": null,
                                                "picture": "773.png"
                                                  }
                                          "operating": {
                                                "carrier": "MS",
                                                "carrier_name": "Egyptair",
                                                "carrier_logo": "MS.png",
                                                "flight_number": "777"
                                                  }
                                          "marketing": {
                                                "carrier": "MS",
                                                "carrier_name": "Egyptair",
                                                "carrier_logo": "MS.png",
                                                "flight_number": "777"
                                                  }
                                          "booking_class": {
                                                "cabin_class": "Economy Class",
                                                "cabin_code": "S",
                                                "booking_code": "Economy Class",
                                                "meal_code": null,
                                                "fareBasisCode": "SRIEGO",
                                                "seat_available": 9
                                                  }
                                          "baggages": 
                                              "checked": {
                                                  "ADT": {
                                                      "ptc_title": "Adult",
                                                      "passenger_type": "ADT",
                                                      "baggage_type": "checked",
                                                      "pieceCount": "2",
                                                      "weight": null,
                                                      "unit": "Piece",
                                                      "title": "/ 2 piece"
                                                        }
                                                      }
                                          "carry_on": 
                                                   "ADT": 
                                                      "ptc_title": "Adult"
                                                      "passenger_type": "ADT"
                                                      "baggage_type": "carry_on"
                                                      "pieceCount": "SB"
                                                      "weight": "SB"
                                                      "unit": "SB"
                                                      "title": "SB"
                                          "key": "3a1f246f-de7e-4088-9f8f-5e1078afabf6"
                                          "price": 
                                            "currency": "BDT"
                                            "total": 59789.31,
                                            "gross_total": 59789.31,
                                            "base_fare": 40496.39,
                                            "tax": 19292.92,
                                            "sell": {
                                                "currency": "BDT",
                                                "total": 59789.31,
                                                "base_fare": 40496.39,
                                                "tax": 19292.92
                                            }
                                            "price_hash": "eyJmbWciOnsiY3VycmVuY3kiOiJUUlkiLCJ0b3RhbCI6NTk3ODkuMzEsImJhc2VfZmFyZSI6NDA0OTYuMzksInRheCI6MTkyOTIuOTJ9LCJzdXBwbGllciI6eyJjdXJyZW5jeSI6IlRSWSIsInRvdGFsIjo1OTc4OS4zMSwiYmFzZV9mYXJlIjo0MDQ5Ni4zOSwidGF4IjoxOTI5Mi45MiwiY29taXNzaW9uX3R5cGUiOiJnZW5lcmFsIiwiY29taXNzaW9uX3ZhbHVlIjowfSwiZ3Jvc3NfZmFyZSI6eyJjdXJyZW5jeSI6IlRSWSIsInRvdGFsIjo1OTc4OS4zMSwiYmFzZV9mYXJlIjo0MDQ5Ni4zOSwidGF4IjoxOTI5Mi45Mn19"
                                            "price_breakdown": 
                                                            
                                                                "passenger_id": "1"
                                                                "supplier_pax_id": "1"
                                                                "passenger_type": "ADT"
                                                                "primary_ptc": "ADT"
                                                                "ptc_title": "Adult"
                                                                "passenger_total": 1,
                                                                "pax_calculate_type": "yes"
                                                                "comission_type": ""
                                                                "comission_value": ""
                                                                "currency": "BDT"
                                                                "total": 59789.31,
                                                                "base_fare": 40496.39,
                                                                "tax": 19292.92,
                                                                "ticket_issue_charge": 0,
                                                                "total_ticket_issue_charge": 0,
                                                                "gross": {
                                                                    "base_fare": "40496.39",
                                                                    "tax": "19292.92",
                                                                    "discount": 0,
                                                                    "ait": "0.00",
                                                                    "service_charge": 0
                                                                }
                                                                "partner": {
                                                                        "currency": "BDT",
                                                                        "total": 59789.31,
                                                                        "base_fare": 40496.39,
                                                                        "tax": 19292.92,
                                                                        "gross": {
                                                                            "base_fare": "40496.39",
                                                                            "tax": "19292.92",
                                                                            "discount": "0.00",
                                                                            "ait": "0.00",
                                                                            "service_charge": 0
                                                                        },
                                                                        "taxBreakdown": {
                                                                            "BD": {
                                                                                "title": "BD -Embarkation Fee (Domestic/International)",
                                                                                "amount": "0.00"
                                                                            },
                                                                            "UT": {
                                                                                "title": "UT - Foreign Air Travel Tax (FATT)",
                                                                                "amount": "0.00"
                                                                            },
                                                                            "E5": {
                                                                                "title": "E5 - Value Added Tax on Embarkation Fees",
                                                                                "amount": "0.00"
                                                                            },
                                                                            "YQ": {
                                                                                "title": "YQ – Carrier-Imposed Surcharge/Fuel Surcharge",
                                                                                "amount": "0.00"
                                                                            },
                                                                            "YR": {
                                                                                "title": "YR – Another Carrier-Imposed Surcharge",
                                                                                "amount": "0.00"
                                                                            },
                                                                            "Other": {
                                                                                "title": "Others taxes",
                                                                                "amount": "0. 00"
                                                                            }
                                                                        }
                                                                    }
                                          "priceHash": "eyJmbWciOnsiY3VycmVuY3kiOiJUUlkiLCJ0b3RhbCI6IjU5Nzg5LjMxIiwiYmFzZV9mYXJlIjoiNDA0OTYuMzkiLCJ0YXgiOiIxOTI5Mi45MiIsImdyb3NzIjp7ImJhc2VfZmFyZSI6IjQwNDk2LjM5IiwidGF4IjoiMTkyOTIuOTIiLCJkaXNjb3VudCI6IjAuMDAiLCJhaXQiOiIwLjAwIiwic2VydmljZV9jaGFyZ2UiOiIwLjAwIn0sImNvbmZpZyI6eyJtYXJrdXBfdHlwZSI6bnVsbCwibWFya3VwX3RpdGxlIjpudWxsLCJyZXZlbnVlIjoiMC4wMCIsInRpY2tldF9pc3N1ZV9jaGFyZ2UiOiIwLjAwIiwidG90YWxfdGlja2V0X2lzc3VlX2NoYXJnZSI6IjAuMDAiLCJjdXJyZW5jeUV4Y2hhbmdlUmF0ZSI6IjEuMDAiLCJGTUdfT3ZlcndyaXRlUnVsZXMiOltdfX0sInN1cHBsaWVyIjp7ImN1cnJlbmN5IjoiVFJZIiwidG90YWwiOiI1OTc4OS4zMSIsImJhc2VfZmFyZSI6IjQwNDk2LjM5IiwidGF4IjoiMTkyOTIuOTIiLCJncm9zcyI6eyJiYXNlX2ZhcmUiOiI0MDQ5Ni4zOSIsInRheCI6IjE5MjkyLjkyIiwiZGlzY291bnQiOiIwLjAwIiwiYWl0IjoiMC4wMCIsInNlcnZpY2VfY2hhcmdlIjowLCJwZXJfc2VnbWVudF9kaXNjb3VudCI6MCwic2VnbWVudF9kaXNjb3VudCI6IjAuMDAiLCJzdXBwbGllcl9zZWdtZW50X2ZlZXNDYWxjdWxhdGUiOm51bGwsInNlZ21lbnRfZGlzY291bnRfYWNjb3VudFB1cnBvc2UiOm51bGx9fSwiZ3Jvc3NfZmFyZSI6eyJjdXJyZW5jeSI6IlRSWSIsInRvdGFsIjoiNTk3ODkuMzEiLCJiYXNlX2ZhcmUiOiI0MDQ5Ni4zOSIsInRheCI6IjE5MjkyLjkyIiwiZGlzY291bnQiOiIwLjAwIiwiYWl0IjoiMC4wMCIsInNlcnZpY2VfY2hhcmdlIjoiMC4wMCIsInBheWFibGUiOjU5Nzg5LjMxLCJ0YXhCcmVha2Rvd24iOnsiQkQiOnsiYW1vdW50IjoiMC4wMCJ9LCJVVCI6eyJhbW91bnQiOiIwLjAwIn0sIkU1Ijp7ImFtb3VudCI6IjAuMDAifSwiWVEiOnsiYW1vdW50IjoiMC4wMCJ9LCJZUiI6eyJhbW91bnQiOiIwLjAwIn0sIk90aGVyIjp7ImFtb3VudCI6IjAuMDAifSwic3VwcGxpZXJUYXhEYXRhIjpbXX19LCJkaXNjb3VudF9jb21pc3Npb25fdGl0bGUiOm51bGwsImRpc2NvdW50X2NvbWlzc2lvbl9yYXRpbyI6MCwiZHluYW1pY19tYXJrdXBfdHlwZSI6bnVsbCwiZHluYW1pY19tYXJrdXBfdGl0bGUiOm51bGwsImR5bmFtaWNfbWFya3VwX3JhdGlvIjpudWxsLCJhcHBsaWNhYmxlX2NvbWlzc2lvbiI6bnVsbCwiYXBwbGljYWJsZV9keW5hbWljX21hcmt1cCI6bnVsbH0="
                            "fare_rules": {
                                        "refundable_data": null,
                                        "refundable": "non-refundable",
                                        "change_before_departure": "not-available"
                                          }
                            "total_price": 59789.31,
                            "filter": {
                                "id": "F1TT00152-39",
                                "price": 59789.31,
                                "journey_duration": "PT",
                                "journey_duration_seconds": null,
                                "layover_duration": "PT",
                                "layover_duration_seconds": null,
                                "carrier_operating": "OD",
                                "carrier_marketing": "OD",
                                "aircraft": "330",
                                "aircraft_name": null,
                                "cabin_class": "Economy Class",
                                "connecting_airport": [
                                    "CAI"
                                ],
                                "total_segment_count": 2,
                                "no_of_stops": 1,
                                "departure_timing_slot": "midnight",
                                "departure_departure_time": "2026-02-20T01:10:00",
                                "arrival_timing_slot": "afternoon",
                                "arrival_departure_time": "2026-03-23T12:35:00",
                                "refund": "non-refundable",
                                "baggage_value": null,
                                "baggage_unit": null,
                                "baggage_title": "no-baggage"
                            }
                            "filter_unique_filter_code": "dac202602200110kul202602200700161kul202602202305dxb202602210225713dxb202603222015cai202603222225906cai202603230925lhr202603231235777"
                            "destination_reach_time": "PT"
                            "destination_reach_timestamp": null


                  "tracking_id": "11177139798126194GPE53"
                  "flight_key": "F1TT00152-40"
                  "journey_type": "MultiCity"
                  "result_type": "general"
                  "get_branded_fare": "yes"
                  "hold_possible": "yes"
                  "package_option": "no"
                  "supplier_title": "TravelRobotFlight-Sandbox"
                  "color_code": "#ffffff"
                  "supplier_code": "travel_robot"
                  "supplier_uid": "F1TT00152"
                  "supplier_partner_code": "travel_robot-1-00152"
                 
                "id": "F1TN00120-31"
                "price": 533103,
                "gross_total": 533103,
                "journey_duration": "PT1D7H10M"
                "journey_duration_seconds": 112200,
                "layover_duration": "PT10H20M"
                "layover_duration_seconds": 37200,
                "carrier_operating": "SQ"
                "carrier_marketing": "SQ"
                "departure_timing_slot": "night"
                "departure_departure_time": "2026-02-20 23:55:00"
                "arrival_timing_slot": "evening"
                "arrival_departure_time": "2026-03-22 18:25:00"
            
        
                "take_off": {
                             "0": null,
                             "2": "midnight",
                             "8": "morning",
                             "14": "evening",
                             "20": "night",
                             "84": "afternoon",
                             "256": "early-morning"
                                        }
                "landing_time": {
                              "0": null,
                              "2": "evening",
                              "3": "morning",
                              "7": "afternoon",
                              "26": "early-morning",
                              "47": "night",
                              "249": "midnight"
                          }
                "carrier": {
                          "operating": [
                              null,
                              "AI",
                              "BG",
                              "EK",
                              "ET",
                              "FZ",
                              "MU",
                              "OD",
                              "SQ",
                              "SV",
                              "TK",
                              "UL"
                          ],
                  "marketing": [
                                null,
                                "AI",
                                "BG",
                                "EK",
                                "ET",
                                "FZ",
                                "MU",
                                "OD",
                                "SQ",
                                "SV",
                                "TK",
                                "UL"
                            ]
                        }
                "baggage": [
                        {
                            "baggage_value": null,
                            "baggage_unit": null,
                            "baggage_title": null
                        },
                        {
                            "baggage_value": "pieces",
                            "baggage_unit": "1",
                            "baggage_title": "1 pieces"
                        },
                        {
                            "baggage_value": "pieces",
                            "baggage_unit": "2",
                            "baggage_title": "2 pieces"
                        },
                        {
                            "baggage_value": "kg",
                            "baggage_unit": "30",
                            "baggage_title": "30 kg"
                        },
                        {
                            "baggage_value": "kg",
                            "baggage_unit": "35",
                            "baggage_title": "35 kg"
                        }
                    ]
                "connecting_airport": [
                                "ADD",
                                "AMM",
                                "BAH",
                                "BEG",
                                "BOM",
                                "CAI",
                                "DEL",
                                "FRA",
                                "GOI",
                                "IST",
                                "JED",
                                "KWI",
                                "MCT",
                                "PVG",
                                "RUH",
                                "SIN",
                                "WAW"
                            ]
                
                "search_result_logs_url": "https://temp-logs.b2b.innovatedemo.com/flight_logs/11177139798126194GPE53/search_result.json"
                "beforeSearchduration": "1 seconds"
           
                            
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }
  /flight/branded-fare:
   post:
    tags:
      - Flight
    summary: Get branded fare options for a flight
    operationId: flightBrandedFare

    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - member_id
              - tracking_id
              - flight_key
              - result_type
            properties:
              member_id:
                type: string
                example: "1"
              tracking_id:
                type: string
                example: "11174158960526193"
              flight_key:
                type: string
                example: "F1ZT00006-2"
              result_type:
                type: string
                example: "general"
              connected_flight_key:
                type: string
                nullable: true
                example: ""
              connected_brand_option:
                type: string
                nullable: true
                example: ""

    responses:
      '200':
        description: Branded fare options response
        content:
          application/json:
            schema:
              type: object
              properties:

                status:
                  type: string
                  example: "success"

                reason:
                  type: string
                  nullable: true
                  example: null

                member_id:
                  type: string

                tracking_id:
                  type: string

                result_type:
                  type: string

                total_options:
                  type: integer

                data:
                  type: array
                  items:
                    type: object
                    properties:
                      search_tracking_id:
                        type: string
                      tracking_id:
                        type: string
                      flight_key:
                        type: string
                      new_flight_key:
                        type: string
                      brand_option:
                        type: string
                      brand_title:
                        type: string
                        nullable: true
                      description:
                        type: string
                      order_by:
                        type: number
                        format: float

                      info:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            code:
                              type: string
                            value:
                              type: string
                            remark:
                              type: string

                      price:
                        type: object
                        properties:
                          currency:
                            type: string
                          total:
                            type: number
                            format: float
                          gross_total:
                            type: number
                            format: float
                          base_fare:
                            type: number
                            format: float
                          tax:
                            type: number
                            format: float
                          price_hash:
                            type: string

                selected_flight:
                  type: object
                  properties:
                    tracking_id:
                      type: string
                    flight_key:
                      type: string
                    journey_type:
                      type: string
                    hold_possible:
                      type: string
                    supplier_title:
                      type: string
                    supplier_code:
                      type: string
                    total_price:
                      type: number
                      format: float

                    search_parameter:
                      type: object
                      properties:
                        journey_type:
                          type: string
                        travelers_adult:
                          type: integer
                        travelers_child:
                          type: integer
                        travelers_infants:
                          type: integer

                    fare_rules:
                      type: object
                      properties:
                        refundable:
                          type: string
                        change_before_departure:
                          type: string
                '400': { $ref: '#/components/responses/BadRequest' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '500': { $ref: '#/components/responses/ServerError' }
  /flight/validate:
    post:
      tags: [Flight]
      summary: Validate selected itinerary and pricing
      operationId: flightValidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
            examples:
              default:
                value:
                  member_id: "1"
                  result_type: general
                  data:
                    - tracking_id: 11174158269526193
                      flight_key: F1ZT00006-1
                      brand_option: OPTION-20
      responses:
        '200':
          description: Validation result with updated price and session info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                default:
                 summary: Successful Search Response
                value:
                  value:
                   status: "success"
                   is_warning: false
                   reason:
                   reason_admin:
                    "search": {
                        "tracking_id": "11177139202626194TS42Z",
                        "flight_key": "F1TT00032-0",
                        "filter_unique_filter_code": "dac202603111510cgp202603111610125"
                    }
                    "booking_tracking_id": "11177139214226194U5TSM"
                    "tracking_id": "11177139202626194TS42Z"
                    "flight_key": null,
                    "price_change": "up"
                    "search_price": {
                        "currency": "BDT",
                        "amount": 5199
                    }
                    "validation_price": {
                        "currency": "BDT",
                        "amount": 5452.32
                    }
                    "additional_services": [
                        {
                            "type": "meet_and_greet",
                            "charge_type": "fixed",
                            "value": 40,
                            "description": "desc"
                        }
                    ]
                    "session_expire": {
                        "timestamp": 1771393047,
[...]
